{# ====================================================== #}
{# S2 支架建模 APDL 模板（自动生成 by nuclear_seismic_auto）#}
{# 源命令流: 电缆桥架相关模型命令流/报告及模型命令流/建模标准化命令流.txt #}
{# 占位符: qian_n_layers / hou_n_layers / qian[N].* / hou[N].* / steel_*  #}
{# ====================================================== #}
finish
/clear
/prep7

ET,1,BEAM188
ET,2,BEAM188

KEYOPT,1,1,1 
MP,EX,1,2.04E11        !材料属性
MP,PRXY,1,0.3
MP,DENS,1,7850

L1={{ '%.4f' | format(steel_width_m) }}                !方钢边长    ++++++++++++++
L2={{ '%.4f' | format(steel_length_m) }}                 !方钢总长度  ++++++++++++++
L3={{ '%.4f' | format(span_m) }}                 !支架间距    ++++++++++++++

qiancengshu={{ qian_n_layers }}
houcengshu={{ hou_n_layers }}
senum=qiancengshu
senum1=houcengshu

*IF,qiancengshu,LE,houcengshu,THEN
  zuidacengshu=houcengshu
*ELSE
  zuidacengshu=qiancengshu
*ENDIF

SECTYPE,1,BEAM,MESH 
SECOFFSET,cent, 
SECREAD,'{{ steel_sect_file }}','SECT',,MESH   !方钢截面名称++++++++++++++

*DO,J,1,3                           !起始
K,500+100*(J-1),0,0+L3*(J-1),0
*DO,I,1,zuidacengshu
K,500+I+100*(J-1),0,0+L3*(J-1),0.1+0.2*(I-1)
*ENDDO
K,500+zuidacengshu+1+100*(J-1),0,0+L3*(J-1),L2
*DO,I,1,zuidacengshu+1
L,500+(I-1)+100*(J-1),500+I+100*(J-1)
*ENDDO
*ENDDO

ALLSEL 
Lsel,S,LOC,X,0            
LATT,1,,1,,,,1
LESIZE,ALL,0.05,,,,,,,1 
LMESH,ALL 

*DO,cengshu1,1,qiancengshu
!**********************************************************************以下为前侧第1层
*IF,cengshu1,EQ,1,THEN   
A%cengshu1%={{ '%.4f' | format(qian[1].a) }}                                                 !1层托臂1长度
B%cengshu1%={{ '%.4f' | format(qian[1].b) }}                                                 !1层托臂2长度
C%cengshu1%={{ '%.4f' | format(qian[1].c) }}                                                   !1层托盘宽度 

ET,10*cengshu1+2,BEAM188   
KEYOPT,1,4,2
MP,EX,10*cengshu1+2,2.04E11        
MP,PRXY,10*cengshu1+2,0.3
MP,DENS,10*cengshu1+2,7850
SECTYPE,10*cengshu1+2,BEAM,MESH  
SECOFFSET,cent, 
SECREAD,'{{ qian[1].cantilever1_sect }}','SECT',,MESH                                      !1层托臂1截面

ET,10*cengshu1+3,BEAM188            
KEYOPT,1,4,2
MP,EX,10*cengshu1+3,2.04E11        
MP,PRXY,10*cengshu1+3,0.3
MP,DENS,10*cengshu1+3,7850
SECTYPE,10*cengshu1+3,BEAM,MESH 
SECOFFSET,cent, 
SECREAD,'{{ qian[1].cantilever2_sect }}','SECT',,MESH                                      !1层托臂2截面

ET,10*cengshu1+4,BEAM188          
KEYOPT,2,4,2
MP,EX,10*cengshu1+4,2.04E11       
MP,PRXY,10*cengshu1+4,0.3
MP,DENS,10*cengshu1+4,({{ '%.2f' | format(qian[1].density) }})                                         !1层托盘密度
SECTYPE,10*cengshu1+4,BEAM,MESH 
SECOFFSET,cent, 
SECREAD,'{{ qian[1].tray_sect }}','SECT',,MESH                                       !1层托盘截面


!******************************************************************************
ET,10*cengshu1+5,BEAM188
KEYOPT,2,4,2
MP,EX,10*cengshu1+5,2.04E11       
MP,PRXY,10*cengshu1+5,0.3
MP,DENS,10*cengshu1+5,({{ '%.2f' | format(qian[1].density) }})  
SECTYPE,10*cengshu1+5,BEAM,CSOLID
SECDATA,0.006
SECOFFSET,USER,
!******************************************************************************


K,500+10*cengshu1+1,0.5*L1,0,0.100*(2*cengshu1-1)                                               
K,500+10*cengshu1+2,0.5*L1+A%cengshu1%+B%cengshu1%-0.5*C%cengshu1%,0,0.100*(2*cengshu1-1)       
K,500+10*cengshu1+3,0.5*L1+A%cengshu1%,0,0.100*(2*cengshu1-1)                                   
K,500+10*cengshu1+4,0.5*L1+A%cengshu1%+B%cengshu1%,0,0.100*(2*cengshu1-1)
                       
 
K,600+10*cengshu1+1,0.5*L1,L3,0.100*(2*cengshu1-1)                                           
K,600+10*cengshu1+2,0.5*L1+A%cengshu1%+B%cengshu1%-0.5*C%cengshu1%,L3,0.100*(2*cengshu1-1)   
K,600+10*cengshu1+3,0.5*L1+A%cengshu1%,L3,0.100*(2*cengshu1-1)                               
K,600+10*cengshu1+4,0.5*L1+A%cengshu1%+B%cengshu1%,L3,0.100*(2*cengshu1-1)                   

K,700+10*cengshu1+1,0.5*L1,2*L3,0.100*(2*cengshu1-1)                                  
K,700+10*cengshu1+2,0.5*L1+A%cengshu1%+B%cengshu1%-0.5*C%cengshu1%,2*L3,0.100*(2*cengshu1-1)    
K,700+10*cengshu1+3,0.5*L1+A%cengshu1%,2*L3,0.100*(2*cengshu1-1)                       
K,700+10*cengshu1+4,0.5*L1+A%cengshu1%+B%cengshu1%,2*L3,0.100*(2*cengshu1-1)           
!******************************************************************************托盘与托臂间距修改
K,500+10*cengshu1+6,0.5*L1+A%cengshu1%+B%cengshu1%-0.5*C%cengshu1%,-0.5*L3,0.100*(2*cengshu1-1)+0.074
K,500+10*cengshu1+7,0.5*L1+A%cengshu1%+B%cengshu1%-0.5*C%cengshu1%,0,0.100*(2*cengshu1-1)+0.074
K,500+10*cengshu1+8,0.5*L1+A%cengshu1%+B%cengshu1%-0.5*C%cengshu1%,0.5*L3,0.100*(2*cengshu1-1)+0.074

K,600+10*cengshu1+7,0.5*L1+A%cengshu1%+B%cengshu1%-0.5*C%cengshu1%,1.0*L3,0.100*(2*cengshu1-1)+0.074
K,600+10*cengshu1+8,0.5*L1+A%cengshu1%+B%cengshu1%-0.5*C%cengshu1%,1.5*L3,0.100*(2*cengshu1-1)+0.074

K,700+10*cengshu1+7,0.5*L1+A%cengshu1%+B%cengshu1%-0.5*C%cengshu1%,2.0*L3,0.100*(2*cengshu1-1)+0.074
K,700+10*cengshu1+8,0.5*L1+A%cengshu1%+B%cengshu1%-0.5*C%cengshu1%,2.5*L3,0.100*(2*cengshu1-1)+0.074

!******************************************************************************
K,500+10*cengshu1+9,0.5*L1+A%cengshu1%+B%cengshu1%-0.5*C%cengshu1%,0,0.100*(2*cengshu1-1)+0.05 
K,600+10*cengshu1+9,0.5*L1+A%cengshu1%+B%cengshu1%-0.5*C%cengshu1%,L3,0.100*(2*cengshu1-1)+0.05 
K,700+10*cengshu1+9,0.5*L1+A%cengshu1%+B%cengshu1%-0.5*C%cengshu1%,2*L3,0.100*(2*cengshu1-1)+0.05    
!******************************************************************************    


*DO,I,500,700,100
L,I+10*cengshu1+1,I+10*cengshu1+2
L,I+10*cengshu1+2,I+10*cengshu1+3
L,I+10*cengshu1+3,I+10*cengshu1+4
*ENDDO

L,500+10*cengshu1+6,500+10*cengshu1+7
L,500+10*cengshu1+7,500+10*cengshu1+8
L,500+10*cengshu1+8,600+10*cengshu1+7
L,600+10*cengshu1+7,600+10*cengshu1+8
L,600+10*cengshu1+8,700+10*cengshu1+7
L,700+10*cengshu1+7,700+10*cengshu1+8

!******************************************************************************  
L,500+10*cengshu1+2,500+10*cengshu1+9
L,600+10*cengshu1+2,600+10*cengshu1+9
L,700+10*cengshu1+2,700+10*cengshu1+9
!******************************************************************************  

allsle
lsel,s,loc,x,kx(500+10*cengshu1+1),kx(500+10*cengshu1+3)
lsel,r,loc,z,kz(500+10*cengshu1+1)
cm,tuobi11,line

allsle
lsel,s,loc,x,kx(500+10*cengshu1+3),kx(500+10*cengshu1+4)
lsel,r,loc,z,kz(500+10*cengshu1+1)
cm,tuobi12,line

allsle
lsel,s,loc,x,kx(500+10*cengshu1+6)
lsel,r,loc,z,kz(500+10*cengshu1+6)
cm,tuopan1,line

!******************************************************************************  
allsle
lsel,s,loc,x,kx(500+10*cengshu1+2)
lsel,r,loc,z,kz(500+10*cengshu1+2),kz(500+10*cengshu1+9)
cm,luoshuan1,line
!******************************************************************************  


ALLSEL 
cmsel,S,tuobi11      !双槽钢单元
LATT,10*cengshu1+2,,10*cengshu1+2,,,,10*cengshu1+2
LESIZE,ALL,0.05,,,,,,,1 
LMESH,ALL 

ALLSEL 
cmsel,S,tuobi12      !单槽钢单元
LATT,10*cengshu1+3,,10*cengshu1+3,,,,10*cengshu1+3
LESIZE,ALL,0.05,,,,,,,1 
LMESH,ALL 

ALLSEL 
cmsel,S,tuopan1      !tuopan单元
LATT,10*cengshu1+4,,10*cengshu1+4,,,,10*cengshu1+4
LESIZE,ALL,0.05,,,,,,,1 
LMESH,ALL 

!****************************************************************************** 
ALLSEL 
cmsel,S,luoshuan1      !luoshuan单元
LATT,10*cengshu1+5,,10*cengshu1+5,,,,10*cengshu1+5
LESIZE,ALL,0.05,,,,,,,1 
LMESH,ALL
!****************************************************************************** 


ALLSEL
NSEL,S,LOC,X,0.5*L1+A%cengshu1%+B%cengshu1%-0.5*C%cengshu1% 
NSEL,R,LOC,Z,0.100*(2*cengshu1-1)+0.05,0.100*(2*cengshu1-1)+0.074 
CPCYC,UX,,,,,0.074-0.05
CPCYC,UY,,,,,0.074-0.05
CPCYC,UZ,,,,,0.074-0.05
CPCYC,ROTY,,,,,0.074-0.05
CPCYC,ROTZ,,,,,0.074-0.05


ALLSEL
NSEL,S,LOC,X,0.5*L1+A%cengshu1%+B%cengshu1%-0.5*C%cengshu1% 
NSEL,R,LOC,Z,0.100*(2*cengshu1-1),0.100*(2*cengshu1-1)
CM,LS1,NODE
!**********************************************************************以上为前侧第1层

!**********************************************************************以下为前侧第2层
*ELSEIF,cengshu1,EQ,2
A%cengshu1%={{ '%.4f' | format(qian[2].a) }}                                                 !2层托臂1长度
B%cengshu1%={{ '%.4f' | format(qian[2].b) }}                                                 !2层托臂2长度
C%cengshu1%={{ '%.4f' | format(qian[2].c) }}                                                   !2层托盘宽度 

ET,10*cengshu1+2,BEAM188   
KEYOPT,1,4,2
MP,EX,10*cengshu1+2,2.04E11        
MP,PRXY,10*cengshu1+2,0.3
MP,DENS,10*cengshu1+2,7850
SECTYPE,10*cengshu1+2,BEAM,MESH  
SECOFFSET,cent, 
SECREAD,'{{ qian[2].cantilever1_sect }}','SECT',,MESH                                      !2层托臂1截面

ET,10*cengshu1+3,BEAM188            
KEYOPT,1,4,2
MP,EX,10*cengshu1+3,2.04E11        
MP,PRXY,10*cengshu1+3,0.3
MP,DENS,10*cengshu1+3,7850
SECTYPE,10*cengshu1+3,BEAM,MESH 
SECOFFSET,cent, 
SECREAD,'{{ qian[2].cantilever2_sect }}','SECT',,MESH                                      !2层托臂2截面

ET,10*cengshu1+4,BEAM188          
KEYOPT,2,4,2
MP,EX,10*cengshu1+4,2.04E11       
MP,PRXY,10*cengshu1+4,0.3
MP,DENS,10*cengshu1+4,{{ '%.2f' | format(qian[2].density) }}                                           !2层托盘密度
SECTYPE,10*cengshu1+4,BEAM,MESH 
SECOFFSET,cent, 
SECREAD,'{{ qian[2].tray_sect }}','SECT',,MESH                                       !2层托盘截面

K,500+10*cengshu1+1,0.5*L1,0,0.100*(2*cengshu1-1)                                               
K,500+10*cengshu1+2,0.5*L1+A%cengshu1%+B%cengshu1%-0.5*C%cengshu1%,0,0.100*(2*cengshu1-1)       
K,500+10*cengshu1+3,0.5*L1+A%cengshu1%,0,0.100*(2*cengshu1-1)                                   
K,500+10*cengshu1+4,0.5*L1+A%cengshu1%+B%cengshu1%,0,0.100*(2*cengshu1-1)                       
 
K,600+10*cengshu1+1,0.5*L1,L3,0.100*(2*cengshu1-1)                                           
K,600+10*cengshu1+2,0.5*L1+A%cengshu1%+B%cengshu1%-0.5*C%cengshu1%,L3,0.100*(2*cengshu1-1)   
K,600+10*cengshu1+3,0.5*L1+A%cengshu1%,L3,0.100*(2*cengshu1-1)                               
K,600+10*cengshu1+4,0.5*L1+A%cengshu1%+B%cengshu1%,L3,0.100*(2*cengshu1-1)                   

K,700+10*cengshu1+1,0.5*L1,2*L3,0.100*(2*cengshu1-1)                                   
K,700+10*cengshu1+2,0.5*L1+A%cengshu1%+B%cengshu1%-0.5*C%cengshu1%,2*L3,0.100*(2*cengshu1-1)    
K,700+10*cengshu1+3,0.5*L1+A%cengshu1%,2*L3,0.100*(2*cengshu1-1)                         
K,700+10*cengshu1+4,0.5*L1+A%cengshu1%+B%cengshu1%,2*L3,0.100*(2*cengshu1-1)           

K,500+10*cengshu1+6,0.5*L1+A%cengshu1%+B%cengshu1%-0.5*C%cengshu1%,-0.5*L3,0.100*(2*cengshu1-1)+0.040
K,500+10*cengshu1+7,0.5*L1+A%cengshu1%+B%cengshu1%-0.5*C%cengshu1%,0,0.100*(2*cengshu1-1)+0.040
K,500+10*cengshu1+8,0.5*L1+A%cengshu1%+B%cengshu1%-0.5*C%cengshu1%,0.5*L3,0.100*(2*cengshu1-1)+0.040

K,600+10*cengshu1+7,0.5*L1+A%cengshu1%+B%cengshu1%-0.5*C%cengshu1%,1.0*L3,0.100*(2*cengshu1-1)+0.040
K,600+10*cengshu1+8,0.5*L1+A%cengshu1%+B%cengshu1%-0.5*C%cengshu1%,1.5*L3,0.100*(2*cengshu1-1)+0.040

K,700+10*cengshu1+7,0.5*L1+A%cengshu1%+B%cengshu1%-0.5*C%cengshu1%,2.0*L3,0.100*(2*cengshu1-1)+0.040
K,700+10*cengshu1+8,0.5*L1+A%cengshu1%+B%cengshu1%-0.5*C%cengshu1%,2.5*L3,0.100*(2*cengshu1-1)+0.040

*DO,I,500,700,100
L,I+10*cengshu1+1,I+10*cengshu1+2
L,I+10*cengshu1+2,I+10*cengshu1+3
L,I+10*cengshu1+3,I+10*cengshu1+4
*ENDDO

L,500+10*cengshu1+6,500+10*cengshu1+7
L,500+10*cengshu1+7,500+10*cengshu1+8
L,500+10*cengshu1+8,600+10*cengshu1+7
L,600+10*cengshu1+7,600+10*cengshu1+8
L,600+10*cengshu1+8,700+10*cengshu1+7
L,700+10*cengshu1+7,700+10*cengshu1+8

allsle
lsel,s,loc,x,kx(500+10*cengshu1+1),kx(500+10*cengshu1+3)
lsel,r,loc,z,kz(500+10*cengshu1+1)
cm,tuobi11,line

allsle
lsel,s,loc,x,kx(500+10*cengshu1+3),kx(500+10*cengshu1+4)
lsel,r,loc,z,kz(500+10*cengshu1+1)
cm,tuobi12,line

allsle
lsel,s,loc,x,kx(500+10*cengshu1+6)
lsel,r,loc,z,kz(500+10*cengshu1+6)
cm,tuopan1,line

ALLSEL 
cmsel,S,tuobi11      !双槽钢单元
LATT,10*cengshu1+2,,10*cengshu1+2,,,,10*cengshu1+2
LESIZE,ALL,0.05,,,,,,,1 
LMESH,ALL 

ALLSEL 
cmsel,S,tuobi12      !单槽钢单元
LATT,10*cengshu1+3,,10*cengshu1+3,,,,10*cengshu1+3
LESIZE,ALL,0.05,,,,,,,1 
LMESH,ALL 

ALLSEL 
cmsel,S,tuopan1      !tuopan单元
LATT,10*cengshu1+4,,10*cengshu1+4,,,,10*cengshu1+4
LESIZE,ALL,0.05,,,,,,,1 
LMESH,ALL 

ALLSEL
NSEL,S,LOC,X,0.5*L1+A%cengshu1%+B%cengshu1%-0.5*C%cengshu1% 
NSEL,R,LOC,Z,0.100*(2*cengshu1-1),0.100*(2*cengshu1-1)+0.040 
CPCYC,UX,,,,,0.040
CPCYC,UY,,,,,0.040
CPCYC,UZ,,,,,0.040
CPCYC,ROTY,,,,,0.040
CPCYC,ROTZ,,,,,0.040 

ALLSEL
NSEL,S,LOC,X,0.5*L1+A%cengshu1%+B%cengshu1%-0.5*C%cengshu1% 
NSEL,R,LOC,Z,0.100*(2*cengshu1-1),0.100*(2*cengshu1-1)
CM,LS2,NODE
!**********************************************************************以上为前侧第2层

!**********************************************************************以下为前侧第3层
*ELSEIF,cengshu1,EQ,3
A%cengshu1%={{ '%.4f' | format(qian[3].a) }}                                                 !3层托臂1长度
B%cengshu1%={{ '%.4f' | format(qian[3].b) }}                                                 !3层托臂2长度
C%cengshu1%={{ '%.4f' | format(qian[3].c) }}                                                   !3层托盘宽度 

ET,10*cengshu1+2,BEAM188   
KEYOPT,1,4,2
MP,EX,10*cengshu1+2,2.04E11        
MP,PRXY,10*cengshu1+2,0.3
MP,DENS,10*cengshu1+2,7850
SECTYPE,10*cengshu1+2,BEAM,MESH  
SECOFFSET,cent, 
SECREAD,'{{ qian[3].cantilever1_sect }}','SECT',,MESH                                      !3层托臂1截面

ET,10*cengshu1+3,BEAM188            
KEYOPT,1,4,2
MP,EX,10*cengshu1+3,2.04E11        
MP,PRXY,10*cengshu1+3,0.3
MP,DENS,10*cengshu1+3,7850
SECTYPE,10*cengshu1+3,BEAM,MESH 
SECOFFSET,cent, 
SECREAD,'{{ qian[3].cantilever2_sect }}','SECT',,MESH                                      !3层托臂2截面

ET,10*cengshu1+4,BEAM188          
KEYOPT,2,4,2
MP,EX,10*cengshu1+4,2.04E11       
MP,PRXY,10*cengshu1+4,0.3
MP,DENS,10*cengshu1+4,{{ '%.2f' | format(qian[3].density) }}                                           !3层托盘密度
SECTYPE,10*cengshu1+4,BEAM,MESH 
SECOFFSET,cent, 
SECREAD,'{{ qian[3].tray_sect }}','SECT',,MESH                                       !3层托盘截面

K,500+10*cengshu1+1,0.5*L1,0,0.100*(2*cengshu1-1)                                               
K,500+10*cengshu1+2,0.5*L1+A%cengshu1%+B%cengshu1%-0.5*C%cengshu1%,0,0.100*(2*cengshu1-1)       
K,500+10*cengshu1+3,0.5*L1+A%cengshu1%,0,0.100*(2*cengshu1-1)                                   
K,500+10*cengshu1+4,0.5*L1+A%cengshu1%+B%cengshu1%,0,0.100*(2*cengshu1-1)                       
 
K,600+10*cengshu1+1,0.5*L1,L3,0.100*(2*cengshu1-1)                                           
K,600+10*cengshu1+2,0.5*L1+A%cengshu1%+B%cengshu1%-0.5*C%cengshu1%,L3,0.100*(2*cengshu1-1)   
K,600+10*cengshu1+3,0.5*L1+A%cengshu1%,L3,0.100*(2*cengshu1-1)                               
K,600+10*cengshu1+4,0.5*L1+A%cengshu1%+B%cengshu1%,L3,0.100*(2*cengshu1-1)                   

K,700+10*cengshu1+1,0.5*L1,2*L3,0.100*(2*cengshu1-1)                                   
K,700+10*cengshu1+2,0.5*L1+A%cengshu1%+B%cengshu1%-0.5*C%cengshu1%,2*L3,0.100*(2*cengshu1-1)    
K,700+10*cengshu1+3,0.5*L1+A%cengshu1%,2*L3,0.100*(2*cengshu1-1)                        
K,700+10*cengshu1+4,0.5*L1+A%cengshu1%+B%cengshu1%,2*L3,0.100*(2*cengshu1-1)           

K,500+10*cengshu1+6,0.5*L1+A%cengshu1%+B%cengshu1%-0.5*C%cengshu1%,-0.5*L3,0.100*(2*cengshu1-1)+0.040
K,500+10*cengshu1+7,0.5*L1+A%cengshu1%+B%cengshu1%-0.5*C%cengshu1%,0,0.100*(2*cengshu1-1)+0.040
K,500+10*cengshu1+8,0.5*L1+A%cengshu1%+B%cengshu1%-0.5*C%cengshu1%,0.5*L3,0.100*(2*cengshu1-1)+0.040

K,600+10*cengshu1+7,0.5*L1+A%cengshu1%+B%cengshu1%-0.5*C%cengshu1%,1.0*L3,0.100*(2*cengshu1-1)+0.040
K,600+10*cengshu1+8,0.5*L1+A%cengshu1%+B%cengshu1%-0.5*C%cengshu1%,1.5*L3,0.100*(2*cengshu1-1)+0.040

K,700+10*cengshu1+7,0.5*L1+A%cengshu1%+B%cengshu1%-0.5*C%cengshu1%,2.0*L3,0.100*(2*cengshu1-1)+0.040
K,700+10*cengshu1+8,0.5*L1+A%cengshu1%+B%cengshu1%-0.5*C%cengshu1%,2.5*L3,0.100*(2*cengshu1-1)+0.040

*DO,I,500,700,100
L,I+10*cengshu1+1,I+10*cengshu1+2
L,I+10*cengshu1+2,I+10*cengshu1+3
L,I+10*cengshu1+3,I+10*cengshu1+4
*ENDDO

L,500+10*cengshu1+6,500+10*cengshu1+7
L,500+10*cengshu1+7,500+10*cengshu1+8
L,500+10*cengshu1+8,600+10*cengshu1+7
L,600+10*cengshu1+7,600+10*cengshu1+8
L,600+10*cengshu1+8,700+10*cengshu1+7
L,700+10*cengshu1+7,700+10*cengshu1+8

allsle
lsel,s,loc,x,kx(500+10*cengshu1+1),kx(500+10*cengshu1+3)
lsel,r,loc,z,kz(500+10*cengshu1+1)
cm,tuobi11,line

allsle
lsel,s,loc,x,kx(500+10*cengshu1+3),kx(500+10*cengshu1+4)
lsel,r,loc,z,kz(500+10*cengshu1+1)
cm,tuobi12,line

allsle
lsel,s,loc,x,kx(500+10*cengshu1+6)
lsel,r,loc,z,kz(500+10*cengshu1+6)
cm,tuopan1,line

ALLSEL 
cmsel,S,tuobi11      !双槽钢单元
LATT,10*cengshu1+2,,10*cengshu1+2,,,,10*cengshu1+2
LESIZE,ALL,0.05,,,,,,,1 
LMESH,ALL 

ALLSEL 
cmsel,S,tuobi12      !单槽钢单元
LATT,10*cengshu1+3,,10*cengshu1+3,,,,10*cengshu1+3
LESIZE,ALL,0.05,,,,,,,1 
LMESH,ALL 

ALLSEL 
cmsel,S,tuopan1      !tuopan单元
LATT,10*cengshu1+4,,10*cengshu1+4,,,,10*cengshu1+4
LESIZE,ALL,0.05,,,,,,,1 
LMESH,ALL 

ALLSEL
NSEL,S,LOC,X,0.5*L1+A%cengshu1%+B%cengshu1%-0.5*C%cengshu1% 
NSEL,R,LOC,Z,0.100*(2*cengshu1-1),0.100*(2*cengshu1-1)+0.040 
CPCYC,UX,,,,,0.040
CPCYC,UY,,,,,0.040
CPCYC,UZ,,,,,0.040
CPCYC,ROTY,,,,,0.040
CPCYC,ROTZ,,,,,0.040 


ALLSEL
NSEL,S,LOC,X,0.5*L1+A%cengshu1%+B%cengshu1%-0.5*C%cengshu1% 
NSEL,R,LOC,Z,0.100*(2*cengshu1-1),0.100*(2*cengshu1-1)
CM,LS3,NODE
!**********************************************************************以上为前侧第3层

!**********************************************************************以下为前侧第4层
*ELSEIF,cengshu1,EQ,4
A%cengshu1%={{ '%.4f' | format(qian[4].a) }}                                                 !4层托臂1长度
B%cengshu1%={{ '%.4f' | format(qian[4].b) }}                                                 !4层托臂2长度
C%cengshu1%={{ '%.4f' | format(qian[4].c) }}                                                   !4层托盘宽度 

ET,10*cengshu1+2,BEAM188   
KEYOPT,1,4,2
MP,EX,10*cengshu1+2,2.04E11        
MP,PRXY,10*cengshu1+2,0.3
MP,DENS,10*cengshu1+2,7850
SECTYPE,10*cengshu1+2,BEAM,MESH  
SECOFFSET,cent, 
SECREAD,'{{ qian[4].cantilever1_sect }}','SECT',,MESH                                      !4层托臂1截面

ET,10*cengshu1+3,BEAM188            
KEYOPT,1,4,2
MP,EX,10*cengshu1+3,2.04E11        
MP,PRXY,10*cengshu1+3,0.3
MP,DENS,10*cengshu1+3,7850
SECTYPE,10*cengshu1+3,BEAM,MESH 
SECOFFSET,cent, 
SECREAD,'{{ qian[4].cantilever2_sect }}','SECT',,MESH                                      !4层托臂2截面

ET,10*cengshu1+4,BEAM188          
KEYOPT,2,4,2
MP,EX,10*cengshu1+4,2.04E11       
MP,PRXY,10*cengshu1+4,0.3
MP,DENS,10*cengshu1+4,{{ '%.2f' | format(qian[4].density) }}                                           !4层托盘密度 
SECTYPE,10*cengshu1+4,BEAM,MESH 
SECOFFSET,cent, 
SECREAD,'{{ qian[4].tray_sect }}','SECT',,MESH                                       !4层托盘截面

K,500+10*cengshu1+1,0.5*L1,0,0.100*(2*cengshu1-1)                                               
K,500+10*cengshu1+2,0.5*L1+A%cengshu1%+B%cengshu1%-0.5*C%cengshu1%,0,0.100*(2*cengshu1-1)       
K,500+10*cengshu1+3,0.5*L1+A%cengshu1%,0,0.100*(2*cengshu1-1)                                  
K,500+10*cengshu1+4,0.5*L1+A%cengshu1%+B%cengshu1%,0,0.100*(2*cengshu1-1)                       
 
K,600+10*cengshu1+1,0.5*L1,L3,0.100*(2*cengshu1-1)                                           
K,600+10*cengshu1+2,0.5*L1+A%cengshu1%+B%cengshu1%-0.5*C%cengshu1%,L3,0.100*(2*cengshu1-1)   
K,600+10*cengshu1+3,0.5*L1+A%cengshu1%,L3,0.100*(2*cengshu1-1)                               
K,600+10*cengshu1+4,0.5*L1+A%cengshu1%+B%cengshu1%,L3,0.100*(2*cengshu1-1)                   

K,700+10*cengshu1+1,0.5*L1,2*L3,0.100*(2*cengshu1-1)                                   
K,700+10*cengshu1+2,0.5*L1+A%cengshu1%+B%cengshu1%-0.5*C%cengshu1%,2*L3,0.100*(2*cengshu1-1)    
K,700+10*cengshu1+3,0.5*L1+A%cengshu1%,2*L3,0.100*(2*cengshu1-1)                      
K,700+10*cengshu1+4,0.5*L1+A%cengshu1%+B%cengshu1%,2*L3,0.100*(2*cengshu1-1)           

K,500+10*cengshu1+6,0.5*L1+A%cengshu1%+B%cengshu1%-0.5*C%cengshu1%,-0.5*L3,0.100*(2*cengshu1-1)+0.040
K,500+10*cengshu1+7,0.5*L1+A%cengshu1%+B%cengshu1%-0.5*C%cengshu1%,0,0.100*(2*cengshu1-1)+0.040
K,500+10*cengshu1+8,0.5*L1+A%cengshu1%+B%cengshu1%-0.5*C%cengshu1%,0.5*L3,0.100*(2*cengshu1-1)+0.040

K,600+10*cengshu1+7,0.5*L1+A%cengshu1%+B%cengshu1%-0.5*C%cengshu1%,1.0*L3,0.100*(2*cengshu1-1)+0.040
K,600+10*cengshu1+8,0.5*L1+A%cengshu1%+B%cengshu1%-0.5*C%cengshu1%,1.5*L3,0.100*(2*cengshu1-1)+0.040

K,700+10*cengshu1+7,0.5*L1+A%cengshu1%+B%cengshu1%-0.5*C%cengshu1%,2.0*L3,0.100*(2*cengshu1-1)+0.040
K,700+10*cengshu1+8,0.5*L1+A%cengshu1%+B%cengshu1%-0.5*C%cengshu1%,2.5*L3,0.100*(2*cengshu1-1)+0.040

*DO,I,500,700,100
L,I+10*cengshu1+1,I+10*cengshu1+2
L,I+10*cengshu1+2,I+10*cengshu1+3
L,I+10*cengshu1+3,I+10*cengshu1+4
*ENDDO

L,500+10*cengshu1+6,500+10*cengshu1+7
L,500+10*cengshu1+7,500+10*cengshu1+8
L,500+10*cengshu1+8,600+10*cengshu1+7
L,600+10*cengshu1+7,600+10*cengshu1+8
L,600+10*cengshu1+8,700+10*cengshu1+7
L,700+10*cengshu1+7,700+10*cengshu1+8

allsle
lsel,s,loc,x,kx(500+10*cengshu1+1),kx(500+10*cengshu1+3)
lsel,r,loc,z,kz(500+10*cengshu1+1)
cm,tuobi11,line

allsle
lsel,s,loc,x,kx(500+10*cengshu1+3),kx(500+10*cengshu1+4)
lsel,r,loc,z,kz(500+10*cengshu1+1)
cm,tuobi12,line

allsle
lsel,s,loc,x,kx(500+10*cengshu1+6)
lsel,r,loc,z,kz(500+10*cengshu1+6)
cm,tuopan1,line

ALLSEL 
cmsel,S,tuobi11      !双槽钢单元
LATT,10*cengshu1+2,,10*cengshu1+2,,,,10*cengshu1+2
LESIZE,ALL,0.05,,,,,,,1 
LMESH,ALL 

ALLSEL 
cmsel,S,tuobi12      !单槽钢单元
LATT,10*cengshu1+3,,10*cengshu1+3,,,,10*cengshu1+3
LESIZE,ALL,0.05,,,,,,,1 
LMESH,ALL 

ALLSEL 
cmsel,S,tuopan1      !tuopan单元
LATT,10*cengshu1+4,,10*cengshu1+4,,,,10*cengshu1+4
LESIZE,ALL,0.05,,,,,,,1 
LMESH,ALL 

ALLSEL
NSEL,S,LOC,X,0.5*L1+A%cengshu1%+B%cengshu1%-0.5*C%cengshu1% 
NSEL,R,LOC,Z,0.100*(2*cengshu1-1),0.100*(2*cengshu1-1)+0.040 
CPCYC,UX,,,,,0.040
CPCYC,UY,,,,,0.040
CPCYC,UZ,,,,,0.040
CPCYC,ROTY,,,,,0.040
CPCYC,ROTZ,,,,,0.040 


ALLSEL
NSEL,S,LOC,X,0.5*L1+A%cengshu1%+B%cengshu1%-0.5*C%cengshu1% 
NSEL,R,LOC,Z,0.100*(2*cengshu1-1),0.100*(2*cengshu1-1)
CM,LS4,NODE
!**********************************************************************以上为前侧第4层

!**********************************************************************以下为前侧第5层
*ELSEIF,cengshu1,EQ,5
A%cengshu1%={{ '%.4f' | format(qian[5].a) }}                                                 !5层托臂1长度
B%cengshu1%={{ '%.4f' | format(qian[5].b) }}                                                 !5层托臂2长度
C%cengshu1%={{ '%.4f' | format(qian[5].c) }}                                                   !5层托盘宽度 

ET,10*cengshu1+2,BEAM188   
KEYOPT,1,4,2
MP,EX,10*cengshu1+2,2.04E11        
MP,PRXY,10*cengshu1+2,0.3
MP,DENS,10*cengshu1+2,7850
SECTYPE,10*cengshu1+2,BEAM,MESH  
SECOFFSET,cent, 
SECREAD,'{{ qian[5].cantilever1_sect }}','SECT',,MESH                                      !5层托臂1截面

ET,10*cengshu1+3,BEAM188            
KEYOPT,1,4,2
MP,EX,10*cengshu1+3,2.04E11        
MP,PRXY,10*cengshu1+3,0.3
MP,DENS,10*cengshu1+3,7850
SECTYPE,10*cengshu1+3,BEAM,MESH 
SECOFFSET,cent, 
SECREAD,'{{ qian[5].cantilever2_sect }}','SECT',,MESH                                      !5层托臂2截面

ET,10*cengshu1+4,BEAM188          
KEYOPT,2,4,2
MP,EX,10*cengshu1+4,2.04E11       
MP,PRXY,10*cengshu1+4,0.3
MP,DENS,10*cengshu1+4,{{ '%.2f' | format(qian[5].density) }}                                           !5层托盘密度 
SECTYPE,10*cengshu1+4,BEAM,MESH 
SECOFFSET,cent, 
SECREAD,'{{ qian[5].tray_sect }}','SECT',,MESH                                       !5层托盘截面

K,500+10*cengshu1+1,0.5*L1,0,0.100*(2*cengshu1-1)                                               
K,500+10*cengshu1+2,0.5*L1+A%cengshu1%+B%cengshu1%-0.5*C%cengshu1%,0,0.100*(2*cengshu1-1)       
K,500+10*cengshu1+3,0.5*L1+A%cengshu1%,0,0.100*(2*cengshu1-1)                                   
K,500+10*cengshu1+4,0.5*L1+A%cengshu1%+B%cengshu1%,0,0.100*(2*cengshu1-1)                       
 
K,600+10*cengshu1+1,0.5*L1,L3,0.100*(2*cengshu1-1)                                           
K,600+10*cengshu1+2,0.5*L1+A%cengshu1%+B%cengshu1%-0.5*C%cengshu1%,L3,0.100*(2*cengshu1-1)   
K,600+10*cengshu1+3,0.5*L1+A%cengshu1%,L3,0.100*(2*cengshu1-1)                               
K,600+10*cengshu1+4,0.5*L1+A%cengshu1%+B%cengshu1%,L3,0.100*(2*cengshu1-1)                   

K,700+10*cengshu1+1,0.5*L1,2*L3,0.100*(2*cengshu1-1)                                   
K,700+10*cengshu1+2,0.5*L1+A%cengshu1%+B%cengshu1%-0.5*C%cengshu1%,2*L3,0.100*(2*cengshu1-1)    
K,700+10*cengshu1+3,0.5*L1+A%cengshu1%,2*L3,0.100*(2*cengshu1-1)                       
K,700+10*cengshu1+4,0.5*L1+A%cengshu1%+B%cengshu1%,2*L3,0.100*(2*cengshu1-1)           

K,500+10*cengshu1+6,0.5*L1+A%cengshu1%+B%cengshu1%-0.5*C%cengshu1%,-0.5*L3,0.100*(2*cengshu1-1)+0.040
K,500+10*cengshu1+7,0.5*L1+A%cengshu1%+B%cengshu1%-0.5*C%cengshu1%,0,0.100*(2*cengshu1-1)+0.040
K,500+10*cengshu1+8,0.5*L1+A%cengshu1%+B%cengshu1%-0.5*C%cengshu1%,0.5*L3,0.100*(2*cengshu1-1)+0.040

K,600+10*cengshu1+7,0.5*L1+A%cengshu1%+B%cengshu1%-0.5*C%cengshu1%,1.0*L3,0.100*(2*cengshu1-1)+0.040
K,600+10*cengshu1+8,0.5*L1+A%cengshu1%+B%cengshu1%-0.5*C%cengshu1%,1.5*L3,0.100*(2*cengshu1-1)+0.040

K,700+10*cengshu1+7,0.5*L1+A%cengshu1%+B%cengshu1%-0.5*C%cengshu1%,2.0*L3,0.100*(2*cengshu1-1)+0.040
K,700+10*cengshu1+8,0.5*L1+A%cengshu1%+B%cengshu1%-0.5*C%cengshu1%,2.5*L3,0.100*(2*cengshu1-1)+0.040

*DO,I,500,700,100
L,I+10*cengshu1+1,I+10*cengshu1+2
L,I+10*cengshu1+2,I+10*cengshu1+3
L,I+10*cengshu1+3,I+10*cengshu1+4
*ENDDO

L,500+10*cengshu1+6,500+10*cengshu1+7
L,500+10*cengshu1+7,500+10*cengshu1+8
L,500+10*cengshu1+8,600+10*cengshu1+7
L,600+10*cengshu1+7,600+10*cengshu1+8
L,600+10*cengshu1+8,700+10*cengshu1+7
L,700+10*cengshu1+7,700+10*cengshu1+8

allsle
lsel,s,loc,x,kx(500+10*cengshu1+1),kx(500+10*cengshu1+3)
lsel,r,loc,z,kz(500+10*cengshu1+1)
cm,tuobi11,line

allsle
lsel,s,loc,x,kx(500+10*cengshu1+3),kx(500+10*cengshu1+4)
lsel,r,loc,z,kz(500+10*cengshu1+1)
cm,tuobi12,line

allsle
lsel,s,loc,x,kx(500+10*cengshu1+6)
lsel,r,loc,z,kz(500+10*cengshu1+6)
cm,tuopan1,line

ALLSEL 
cmsel,S,tuobi11      !双槽钢单元
LATT,10*cengshu1+2,,10*cengshu1+2,,,,10*cengshu1+2
LESIZE,ALL,0.05,,,,,,,1 
LMESH,ALL 

ALLSEL 
cmsel,S,tuobi12      !单槽钢单元
LATT,10*cengshu1+3,,10*cengshu1+3,,,,10*cengshu1+3
LESIZE,ALL,0.05,,,,,,,1 
LMESH,ALL 

ALLSEL 
cmsel,S,tuopan1      !tuopan单元
LATT,10*cengshu1+4,,10*cengshu1+4,,,,10*cengshu1+4
LESIZE,ALL,0.05,,,,,,,1 
LMESH,ALL 

ALLSEL
NSEL,S,LOC,X,0.5*L1+A%cengshu1%+B%cengshu1%-0.5*C%cengshu1% 
NSEL,R,LOC,Z,0.100*(2*cengshu1-1),0.100*(2*cengshu1-1)+0.040 
CPCYC,UX,,,,,0.040
CPCYC,UY,,,,,0.040
CPCYC,UZ,,,,,0.040
CPCYC,ROTY,,,,,0.040
CPCYC,ROTZ,,,,,0.040 


ALLSEL
NSEL,S,LOC,X,0.5*L1+A%cengshu1%+B%cengshu1%-0.5*C%cengshu1% 
NSEL,R,LOC,Z,0.100*(2*cengshu1-1),0.100*(2*cengshu1-1)
CM,LS5,NODE
!**********************************************************************以上为前侧第5层

!**********************************************************************以下为前侧第6层
*ELSEIF,cengshu1,EQ,6
A%cengshu1%={{ '%.4f' | format(qian[6].a) }}                                                 !6层托臂1长度
B%cengshu1%={{ '%.4f' | format(qian[6].b) }}                                                 !6层托臂2长度
C%cengshu1%={{ '%.4f' | format(qian[6].c) }}                                                   !6层托盘宽度 

ET,10*cengshu1+2,BEAM188   
KEYOPT,1,4,2
MP,EX,10*cengshu1+2,2.04E11        
MP,PRXY,10*cengshu1+2,0.3
MP,DENS,10*cengshu1+2,7850
SECTYPE,10*cengshu1+2,BEAM,MESH  
SECOFFSET,cent, 
SECREAD,'{{ qian[6].cantilever1_sect }}','SECT',,MESH                                      !6层托臂1截面

ET,10*cengshu1+3,BEAM188            
KEYOPT,1,4,2
MP,EX,10*cengshu1+3,2.04E11        
MP,PRXY,10*cengshu1+3,0.3
MP,DENS,10*cengshu1+3,7850
SECTYPE,10*cengshu1+3,BEAM,MESH 
SECOFFSET,cent, 
SECREAD,'{{ qian[6].cantilever2_sect }}','SECT',,MESH                                      !6层托臂2截面

ET,10*cengshu1+4,BEAM188          
KEYOPT,2,4,2
MP,EX,10*cengshu1+4,2.04E11       
MP,PRXY,10*cengshu1+4,0.3
MP,DENS,10*cengshu1+4,{{ '%.2f' | format(qian[6].density) }}                                           !6层托盘密度 
SECTYPE,10*cengshu1+4,BEAM,MESH 
SECOFFSET,cent, 
SECREAD,'{{ qian[6].tray_sect }}','SECT',,MESH                                       !6层托盘截面

K,500+10*cengshu1+1,0.5*L1,0,0.100*(2*cengshu1-1)                                              !托臂最左端
K,500+10*cengshu1+2,0.5*L1+A%cengshu1%+B%cengshu1%-0.5*C%cengshu1%,0,0.100*(2*cengshu1-1)      !托臂与托盘连接点
K,500+10*cengshu1+3,0.5*L1+A%cengshu1%,0,0.100*(2*cengshu1-1)                                  !双槽钢点
K,500+10*cengshu1+4,0.5*L1+A%cengshu1%+B%cengshu1%,0,0.100*(2*cengshu1-1)                      !托臂最右端
 
K,600+10*cengshu1+1,0.5*L1,L3,0.100*(2*cengshu1-1)                                          !托臂最左端
K,600+10*cengshu1+2,0.5*L1+A%cengshu1%+B%cengshu1%-0.5*C%cengshu1%,L3,0.100*(2*cengshu1-1)  !托臂与托盘连接点
K,600+10*cengshu1+3,0.5*L1+A%cengshu1%,L3,0.100*(2*cengshu1-1)                              !双槽钢点
K,600+10*cengshu1+4,0.5*L1+A%cengshu1%+B%cengshu1%,L3,0.100*(2*cengshu1-1)                  !托臂最右端

K,700+10*cengshu1+1,0.5*L1,2*L3,0.100*(2*cengshu1-1)                                  !托臂最左端
K,700+10*cengshu1+2,0.5*L1+A%cengshu1%+B%cengshu1%-0.5*C%cengshu1%,2*L3,0.100*(2*cengshu1-1)   !托臂与托盘
K,700+10*cengshu1+3,0.5*L1+A%cengshu1%,2*L3,0.100*(2*cengshu1-1)                      !双槽钢点  
K,700+10*cengshu1+4,0.5*L1+A%cengshu1%+B%cengshu1%,2*L3,0.100*(2*cengshu1-1)          !托臂最右端

K,500+10*cengshu1+6,0.5*L1+A%cengshu1%+B%cengshu1%-0.5*C%cengshu1%,-0.5*L3,0.100*(2*cengshu1-1)+0.040
K,500+10*cengshu1+7,0.5*L1+A%cengshu1%+B%cengshu1%-0.5*C%cengshu1%,0,0.100*(2*cengshu1-1)+0.040
K,500+10*cengshu1+8,0.5*L1+A%cengshu1%+B%cengshu1%-0.5*C%cengshu1%,0.5*L3,0.100*(2*cengshu1-1)+0.040

K,600+10*cengshu1+7,0.5*L1+A%cengshu1%+B%cengshu1%-0.5*C%cengshu1%,1.0*L3,0.100*(2*cengshu1-1)+0.040
K,600+10*cengshu1+8,0.5*L1+A%cengshu1%+B%cengshu1%-0.5*C%cengshu1%,1.5*L3,0.100*(2*cengshu1-1)+0.040

K,700+10*cengshu1+7,0.5*L1+A%cengshu1%+B%cengshu1%-0.5*C%cengshu1%,2.0*L3,0.100*(2*cengshu1-1)+0.040
K,700+10*cengshu1+8,0.5*L1+A%cengshu1%+B%cengshu1%-0.5*C%cengshu1%,2.5*L3,0.100*(2*cengshu1-1)+0.040

*DO,I,500,700,100
L,I+10*cengshu1+1,I+10*cengshu1+2
L,I+10*cengshu1+2,I+10*cengshu1+3
L,I+10*cengshu1+3,I+10*cengshu1+4
*ENDDO

L,500+10*cengshu1+6,500+10*cengshu1+7
L,500+10*cengshu1+7,500+10*cengshu1+8
L,500+10*cengshu1+8,600+10*cengshu1+7
L,600+10*cengshu1+7,600+10*cengshu1+8
L,600+10*cengshu1+8,700+10*cengshu1+7
L,700+10*cengshu1+7,700+10*cengshu1+8

allsle
lsel,s,loc,x,kx(500+10*cengshu1+1),kx(500+10*cengshu1+3)
lsel,r,loc,z,kz(500+10*cengshu1+1)
cm,tuobi11,line

allsle
lsel,s,loc,x,kx(500+10*cengshu1+3),kx(500+10*cengshu1+4)
lsel,r,loc,z,kz(500+10*cengshu1+1)
cm,tuobi12,line

allsle
lsel,s,loc,x,kx(500+10*cengshu1+6)
lsel,r,loc,z,kz(500+10*cengshu1+6)
cm,tuopan1,line

ALLSEL 
cmsel,S,tuobi11      !双槽钢单元
LATT,10*cengshu1+2,,10*cengshu1+2,,,,10*cengshu1+2
LESIZE,ALL,0.05,,,,,,,1 
LMESH,ALL 

ALLSEL 
cmsel,S,tuobi12      !单槽钢单元
LATT,10*cengshu1+3,,10*cengshu1+3,,,,10*cengshu1+3
LESIZE,ALL,0.05,,,,,,,1 
LMESH,ALL 

ALLSEL 
cmsel,S,tuopan1      !tuopan单元
LATT,10*cengshu1+4,,10*cengshu1+4,,,,10*cengshu1+4
LESIZE,ALL,0.05,,,,,,,1 
LMESH,ALL 

ALLSEL
NSEL,S,LOC,X,0.5*L1+A%cengshu1%+B%cengshu1%-0.5*C%cengshu1% 
NSEL,R,LOC,Z,0.100*(2*cengshu1-1),0.100*(2*cengshu1-1)+0.040 
CPCYC,UX,,,,,0.040
CPCYC,UY,,,,,0.040
CPCYC,UZ,,,,,0.040
CPCYC,ROTY,,,,,0.040
CPCYC,ROTZ,,,,,0.040 


ALLSEL
NSEL,S,LOC,X,0.5*L1+A%cengshu1%+B%cengshu1%-0.5*C%cengshu1% 
NSEL,R,LOC,Z,0.100*(2*cengshu1-1),0.100*(2*cengshu1-1)
CM,LS6,NODE
!**********************************************************************以上为前侧第6层

!**********************************************************************以下为前侧第7层
*ELSEIF,cengshu1,EQ,7
A%cengshu1%={{ '%.4f' | format(qian[7].a) }}                                                 !7层托臂1长度
B%cengshu1%={{ '%.4f' | format(qian[7].b) }}                                                 !7层托臂2长度
C%cengshu1%={{ '%.4f' | format(qian[7].c) }}                                                   !7层托盘宽度 

ET,10*cengshu1+2,BEAM188   
KEYOPT,1,4,2
MP,EX,10*cengshu1+2,2.04E11        
MP,PRXY,10*cengshu1+2,0.3
MP,DENS,10*cengshu1+2,7850
SECTYPE,10*cengshu1+2,BEAM,MESH  
SECOFFSET,cent, 
SECREAD,'{{ qian[7].cantilever1_sect }}','SECT',,MESH                                      !7层托臂1截面

ET,10*cengshu1+3,BEAM188            
KEYOPT,1,4,2
MP,EX,10*cengshu1+3,2.04E11        
MP,PRXY,10*cengshu1+3,0.3
MP,DENS,10*cengshu1+3,7850
SECTYPE,10*cengshu1+3,BEAM,MESH 
SECOFFSET,cent, 
SECREAD,'{{ qian[7].cantilever2_sect }}','SECT',,MESH                                      !7层托臂2截面

ET,10*cengshu1+4,BEAM188          
KEYOPT,2,4,2
MP,EX,10*cengshu1+4,2.04E11       
MP,PRXY,10*cengshu1+4,0.3
MP,DENS,10*cengshu1+4,{{ '%.2f' | format(qian[7].density) }}                                           !7层托盘密度  
SECTYPE,10*cengshu1+4,BEAM,MESH 
SECOFFSET,cent, 
SECREAD,'{{ qian[7].tray_sect }}','SECT',,MESH                                       !7层托盘截面

K,500+10*cengshu1+1,0.5*L1,0,0.100*(2*cengshu1-1)                                               
K,500+10*cengshu1+2,0.5*L1+A%cengshu1%+B%cengshu1%-0.5*C%cengshu1%,0,0.100*(2*cengshu1-1)       
K,500+10*cengshu1+3,0.5*L1+A%cengshu1%,0,0.100*(2*cengshu1-1)                                   
K,500+10*cengshu1+4,0.5*L1+A%cengshu1%+B%cengshu1%,0,0.100*(2*cengshu1-1)                       
 
K,600+10*cengshu1+1,0.5*L1,L3,0.100*(2*cengshu1-1)                                           
K,600+10*cengshu1+2,0.5*L1+A%cengshu1%+B%cengshu1%-0.5*C%cengshu1%,L3,0.100*(2*cengshu1-1)   
K,600+10*cengshu1+3,0.5*L1+A%cengshu1%,L3,0.100*(2*cengshu1-1)                               
K,600+10*cengshu1+4,0.5*L1+A%cengshu1%+B%cengshu1%,L3,0.100*(2*cengshu1-1)                  

K,700+10*cengshu1+1,0.5*L1,2*L3,0.100*(2*cengshu1-1)                                   
K,700+10*cengshu1+2,0.5*L1+A%cengshu1%+B%cengshu1%-0.5*C%cengshu1%,2*L3,0.100*(2*cengshu1-1)    
K,700+10*cengshu1+3,0.5*L1+A%cengshu1%,2*L3,0.100*(2*cengshu1-1)                        
K,700+10*cengshu1+4,0.5*L1+A%cengshu1%+B%cengshu1%,2*L3,0.100*(2*cengshu1-1)           

K,500+10*cengshu1+6,0.5*L1+A%cengshu1%+B%cengshu1%-0.5*C%cengshu1%,-0.5*L3,0.100*(2*cengshu1-1)+0.040
K,500+10*cengshu1+7,0.5*L1+A%cengshu1%+B%cengshu1%-0.5*C%cengshu1%,0,0.100*(2*cengshu1-1)+0.040
K,500+10*cengshu1+8,0.5*L1+A%cengshu1%+B%cengshu1%-0.5*C%cengshu1%,0.5*L3,0.100*(2*cengshu1-1)+0.040

K,600+10*cengshu1+7,0.5*L1+A%cengshu1%+B%cengshu1%-0.5*C%cengshu1%,1.0*L3,0.100*(2*cengshu1-1)+0.040
K,600+10*cengshu1+8,0.5*L1+A%cengshu1%+B%cengshu1%-0.5*C%cengshu1%,1.5*L3,0.100*(2*cengshu1-1)+0.040

K,700+10*cengshu1+7,0.5*L1+A%cengshu1%+B%cengshu1%-0.5*C%cengshu1%,2.0*L3,0.100*(2*cengshu1-1)+0.040
K,700+10*cengshu1+8,0.5*L1+A%cengshu1%+B%cengshu1%-0.5*C%cengshu1%,2.5*L3,0.100*(2*cengshu1-1)+0.040

*DO,I,500,700,100
L,I+10*cengshu1+1,I+10*cengshu1+2
L,I+10*cengshu1+2,I+10*cengshu1+3
L,I+10*cengshu1+3,I+10*cengshu1+4
*ENDDO

L,500+10*cengshu1+6,500+10*cengshu1+7
L,500+10*cengshu1+7,500+10*cengshu1+8
L,500+10*cengshu1+8,600+10*cengshu1+7
L,600+10*cengshu1+7,600+10*cengshu1+8
L,600+10*cengshu1+8,700+10*cengshu1+7
L,700+10*cengshu1+7,700+10*cengshu1+8

allsle
lsel,s,loc,x,kx(500+10*cengshu1+1),kx(500+10*cengshu1+3)
lsel,r,loc,z,kz(500+10*cengshu1+1)
cm,tuobi11,line

allsle
lsel,s,loc,x,kx(500+10*cengshu1+3),kx(500+10*cengshu1+4)
lsel,r,loc,z,kz(500+10*cengshu1+1)
cm,tuobi12,line

allsle
lsel,s,loc,x,kx(500+10*cengshu1+6)
lsel,r,loc,z,kz(500+10*cengshu1+6)
cm,tuopan1,line

ALLSEL 
cmsel,S,tuobi11      !双槽钢单元
LATT,10*cengshu1+2,,10*cengshu1+2,,,,10*cengshu1+2
LESIZE,ALL,0.05,,,,,,,1 
LMESH,ALL 

ALLSEL 
cmsel,S,tuobi12      !单槽钢单元
LATT,10*cengshu1+3,,10*cengshu1+3,,,,10*cengshu1+3
LESIZE,ALL,0.05,,,,,,,1 
LMESH,ALL 

ALLSEL 
cmsel,S,tuopan1      !tuopan单元
LATT,10*cengshu1+4,,10*cengshu1+4,,,,10*cengshu1+4
LESIZE,ALL,0.05,,,,,,,1 
LMESH,ALL 

ALLSEL
NSEL,S,LOC,X,0.5*L1+A%cengshu1%+B%cengshu1%-0.5*C%cengshu1% 
NSEL,R,LOC,Z,0.100*(2*cengshu1-1),0.100*(2*cengshu1-1)+0.040 
CPCYC,UX,,,,,0.040
CPCYC,UY,,,,,0.040
CPCYC,UZ,,,,,0.040
CPCYC,ROTY,,,,,0.040
CPCYC,ROTZ,,,,,0.040 


ALLSEL
NSEL,S,LOC,X,0.5*L1+A%cengshu1%+B%cengshu1%-0.5*C%cengshu1% 
NSEL,R,LOC,Z,0.100*(2*cengshu1-1),0.100*(2*cengshu1-1)
CM,LS7,NODE
!**********************************************************************以上为前侧第7层

!**********************************************************************以下为前侧第8层
*ELSEIF,cengshu1,EQ,8
A%cengshu1%={{ '%.4f' | format(qian[8].a) }}                                                !8层托臂1长度
B%cengshu1%={{ '%.4f' | format(qian[8].b) }}                                                !8层托臂2长度
C%cengshu1%={{ '%.4f' | format(qian[8].c) }}                                                  !8层托盘宽度 

ET,10*cengshu1+2,BEAM188   
KEYOPT,1,4,2
MP,EX,10*cengshu1+2,2.04E11        
MP,PRXY,10*cengshu1+2,0.3
MP,DENS,10*cengshu1+2,7850
SECTYPE,10*cengshu1+2,BEAM,MESH  
SECOFFSET,cent, 
SECREAD,'{{ qian[8].cantilever1_sect }}','SECT',,MESH                                      !8层托臂1截面

ET,10*cengshu1+3,BEAM188            
KEYOPT,1,4,2
MP,EX,10*cengshu1+3,2.04E11        
MP,PRXY,10*cengshu1+3,0.3
MP,DENS,10*cengshu1+3,7850
SECTYPE,10*cengshu1+3,BEAM,MESH 
SECOFFSET,cent, 
SECREAD,'{{ qian[8].cantilever2_sect }}','SECT',,MESH                                      !8层托臂2截面

ET,10*cengshu1+4,BEAM188          
KEYOPT,2,4,2
MP,EX,10*cengshu1+4,2.04E11       
MP,PRXY,10*cengshu1+4,0.3
MP,DENS,10*cengshu1+4,{{ '%.2f' | format(qian[8].density) }}                                           !8层托盘密度  
SECTYPE,10*cengshu1+4,BEAM,MESH 
SECOFFSET,cent, 
SECREAD,'{{ qian[8].tray_sect }}','SECT',,MESH                                       !8层托盘截面

K,500+10*cengshu1+1,0.5*L1,0,0.100*(2*cengshu1-1)                                               
K,500+10*cengshu1+2,0.5*L1+A%cengshu1%+B%cengshu1%-0.5*C%cengshu1%,0,0.100*(2*cengshu1-1)       
K,500+10*cengshu1+3,0.5*L1+A%cengshu1%,0,0.100*(2*cengshu1-1)                                  
K,500+10*cengshu1+4,0.5*L1+A%cengshu1%+B%cengshu1%,0,0.100*(2*cengshu1-1)                      
 
K,600+10*cengshu1+1,0.5*L1,L3,0.100*(2*cengshu1-1)                                           
K,600+10*cengshu1+2,0.5*L1+A%cengshu1%+B%cengshu1%-0.5*C%cengshu1%,L3,0.100*(2*cengshu1-1)   
K,600+10*cengshu1+3,0.5*L1+A%cengshu1%,L3,0.100*(2*cengshu1-1)                               
K,600+10*cengshu1+4,0.5*L1+A%cengshu1%+B%cengshu1%,L3,0.100*(2*cengshu1-1)                  

K,700+10*cengshu1+1,0.5*L1,2*L3,0.100*(2*cengshu1-1)                                   
K,700+10*cengshu1+2,0.5*L1+A%cengshu1%+B%cengshu1%-0.5*C%cengshu1%,2*L3,0.100*(2*cengshu1-1)     
K,700+10*cengshu1+3,0.5*L1+A%cengshu1%,2*L3,0.100*(2*cengshu1-1)                       
K,700+10*cengshu1+4,0.5*L1+A%cengshu1%+B%cengshu1%,2*L3,0.100*(2*cengshu1-1)           

K,500+10*cengshu1+6,0.5*L1+A%cengshu1%+B%cengshu1%-0.5*C%cengshu1%,-0.5*L3,0.100*(2*cengshu1-1)+0.040
K,500+10*cengshu1+7,0.5*L1+A%cengshu1%+B%cengshu1%-0.5*C%cengshu1%,0,0.100*(2*cengshu1-1)+0.040
K,500+10*cengshu1+8,0.5*L1+A%cengshu1%+B%cengshu1%-0.5*C%cengshu1%,0.5*L3,0.100*(2*cengshu1-1)+0.040

K,600+10*cengshu1+7,0.5*L1+A%cengshu1%+B%cengshu1%-0.5*C%cengshu1%,1.0*L3,0.100*(2*cengshu1-1)+0.040
K,600+10*cengshu1+8,0.5*L1+A%cengshu1%+B%cengshu1%-0.5*C%cengshu1%,1.5*L3,0.100*(2*cengshu1-1)+0.040

K,700+10*cengshu1+7,0.5*L1+A%cengshu1%+B%cengshu1%-0.5*C%cengshu1%,2.0*L3,0.100*(2*cengshu1-1)+0.040
K,700+10*cengshu1+8,0.5*L1+A%cengshu1%+B%cengshu1%-0.5*C%cengshu1%,2.5*L3,0.100*(2*cengshu1-1)+0.040

*DO,I,500,700,100
L,I+10*cengshu1+1,I+10*cengshu1+2
L,I+10*cengshu1+2,I+10*cengshu1+3
L,I+10*cengshu1+3,I+10*cengshu1+4
*ENDDO

L,500+10*cengshu1+6,500+10*cengshu1+7
L,500+10*cengshu1+7,500+10*cengshu1+8
L,500+10*cengshu1+8,600+10*cengshu1+7
L,600+10*cengshu1+7,600+10*cengshu1+8
L,600+10*cengshu1+8,700+10*cengshu1+7
L,700+10*cengshu1+7,700+10*cengshu1+8

allsle
lsel,s,loc,x,kx(500+10*cengshu1+1),kx(500+10*cengshu1+3)
lsel,r,loc,z,kz(500+10*cengshu1+1)
cm,tuobi11,line

allsle
lsel,s,loc,x,kx(500+10*cengshu1+3),kx(500+10*cengshu1+4)
lsel,r,loc,z,kz(500+10*cengshu1+1)
cm,tuobi12,line

allsle
lsel,s,loc,x,kx(500+10*cengshu1+6)
lsel,r,loc,z,kz(500+10*cengshu1+6)
cm,tuopan1,line

ALLSEL 
cmsel,S,tuobi11      !双槽钢单元
LATT,10*cengshu1+2,,10*cengshu1+2,,,,10*cengshu1+2
LESIZE,ALL,0.05,,,,,,,1 
LMESH,ALL 

ALLSEL 
cmsel,S,tuobi12      !单槽钢单元
LATT,10*cengshu1+3,,10*cengshu1+3,,,,10*cengshu1+3
LESIZE,ALL,0.05,,,,,,,1 
LMESH,ALL 

ALLSEL 
cmsel,S,tuopan1      !tuopan单元
LATT,10*cengshu1+4,,10*cengshu1+4,,,,10*cengshu1+4
LESIZE,ALL,0.05,,,,,,,1 
LMESH,ALL 

ALLSEL
NSEL,S,LOC,X,0.5*L1+A%cengshu1%+B%cengshu1%-0.5*C%cengshu1% 
NSEL,R,LOC,Z,0.100*(2*cengshu1-1),0.100*(2*cengshu1-1)+0.040 
CPCYC,UX,,,,,0.040
CPCYC,UY,,,,,0.040
CPCYC,UZ,,,,,0.040
CPCYC,ROTY,,,,,0.040
CPCYC,ROTZ,,,,,0.040 


ALLSEL
NSEL,S,LOC,X,0.5*L1+A%cengshu1%+B%cengshu1%-0.5*C%cengshu1% 
NSEL,R,LOC,Z,0.100*(2*cengshu1-1),0.100*(2*cengshu1-1)
CM,LS8,NODE
!**********************************************************************以上为前侧第8层

!**********************************************************************以下为前侧第9层
*ELSEIF,cengshu1,EQ,9
A%cengshu1%={{ '%.4f' | format(qian[9].a) }}                                                !9层托臂1长度
B%cengshu1%={{ '%.4f' | format(qian[9].b) }}                                                !9层托臂2长度
C%cengshu1%={{ '%.4f' | format(qian[9].c) }}                                                  !9层托盘宽度 

ET,10*cengshu1+2,BEAM188   
KEYOPT,1,4,2
MP,EX,10*cengshu1+2,2.04E11        
MP,PRXY,10*cengshu1+2,0.3
MP,DENS,10*cengshu1+2,7850
SECTYPE,10*cengshu1+2,BEAM,MESH  
SECOFFSET,cent, 
SECREAD,'{{ qian[9].cantilever1_sect }}','SECT',,MESH                                      !9层托臂1截面

ET,10*cengshu1+3,BEAM188            
KEYOPT,1,4,2
MP,EX,10*cengshu1+3,2.04E11        
MP,PRXY,10*cengshu1+3,0.3
MP,DENS,10*cengshu1+3,7850
SECTYPE,10*cengshu1+3,BEAM,MESH 
SECOFFSET,cent, 
SECREAD,'{{ qian[9].cantilever2_sect }}','SECT',,MESH                                      !9层托臂2截面

ET,10*cengshu1+4,BEAM188          
KEYOPT,2,4,2
MP,EX,10*cengshu1+4,2.04E11       
MP,PRXY,10*cengshu1+4,0.3
MP,DENS,10*cengshu1+4,{{ '%.2f' | format(qian[9].density) }}                                           !9层托盘密度  
SECTYPE,10*cengshu1+4,BEAM,MESH 
SECOFFSET,cent, 
SECREAD,'{{ qian[9].tray_sect }}','SECT',,MESH                                       !9层托盘截面

K,500+10*cengshu1+1,0.5*L1,0,0.100*(2*cengshu1-1)                                               
K,500+10*cengshu1+2,0.5*L1+A%cengshu1%+B%cengshu1%-0.5*C%cengshu1%,0,0.100*(2*cengshu1-1)       
K,500+10*cengshu1+3,0.5*L1+A%cengshu1%,0,0.100*(2*cengshu1-1)                                   
K,500+10*cengshu1+4,0.5*L1+A%cengshu1%+B%cengshu1%,0,0.100*(2*cengshu1-1)                       
 
K,600+10*cengshu1+1,0.5*L1,L3,0.100*(2*cengshu1-1)                                           
K,600+10*cengshu1+2,0.5*L1+A%cengshu1%+B%cengshu1%-0.5*C%cengshu1%,L3,0.100*(2*cengshu1-1)   
K,600+10*cengshu1+3,0.5*L1+A%cengshu1%,L3,0.100*(2*cengshu1-1)                               
K,600+10*cengshu1+4,0.5*L1+A%cengshu1%+B%cengshu1%,L3,0.100*(2*cengshu1-1)                   

K,700+10*cengshu1+1,0.5*L1,2*L3,0.100*(2*cengshu1-1)                                   
K,700+10*cengshu1+2,0.5*L1+A%cengshu1%+B%cengshu1%-0.5*C%cengshu1%,2*L3,0.100*(2*cengshu1-1)    
K,700+10*cengshu1+3,0.5*L1+A%cengshu1%,2*L3,0.100*(2*cengshu1-1)                        
K,700+10*cengshu1+4,0.5*L1+A%cengshu1%+B%cengshu1%,2*L3,0.100*(2*cengshu1-1)           

K,500+10*cengshu1+6,0.5*L1+A%cengshu1%+B%cengshu1%-0.5*C%cengshu1%,-0.5*L3,0.100*(2*cengshu1-1)+0.040
K,500+10*cengshu1+7,0.5*L1+A%cengshu1%+B%cengshu1%-0.5*C%cengshu1%,0,0.100*(2*cengshu1-1)+0.040
K,500+10*cengshu1+8,0.5*L1+A%cengshu1%+B%cengshu1%-0.5*C%cengshu1%,0.5*L3,0.100*(2*cengshu1-1)+0.040

K,600+10*cengshu1+7,0.5*L1+A%cengshu1%+B%cengshu1%-0.5*C%cengshu1%,1.0*L3,0.100*(2*cengshu1-1)+0.040
K,600+10*cengshu1+8,0.5*L1+A%cengshu1%+B%cengshu1%-0.5*C%cengshu1%,1.5*L3,0.100*(2*cengshu1-1)+0.040

K,700+10*cengshu1+7,0.5*L1+A%cengshu1%+B%cengshu1%-0.5*C%cengshu1%,2.0*L3,0.100*(2*cengshu1-1)+0.040
K,700+10*cengshu1+8,0.5*L1+A%cengshu1%+B%cengshu1%-0.5*C%cengshu1%,2.5*L3,0.100*(2*cengshu1-1)+0.040

*DO,I,500,700,100
L,I+10*cengshu1+1,I+10*cengshu1+2
L,I+10*cengshu1+2,I+10*cengshu1+3
L,I+10*cengshu1+3,I+10*cengshu1+4
*ENDDO

L,500+10*cengshu1+6,500+10*cengshu1+7
L,500+10*cengshu1+7,500+10*cengshu1+8
L,500+10*cengshu1+8,600+10*cengshu1+7
L,600+10*cengshu1+7,600+10*cengshu1+8
L,600+10*cengshu1+8,700+10*cengshu1+7
L,700+10*cengshu1+7,700+10*cengshu1+8

allsle
lsel,s,loc,x,kx(500+10*cengshu1+1),kx(500+10*cengshu1+3)
lsel,r,loc,z,kz(500+10*cengshu1+1)
cm,tuobi11,line

allsle
lsel,s,loc,x,kx(500+10*cengshu1+3),kx(500+10*cengshu1+4)
lsel,r,loc,z,kz(500+10*cengshu1+1)
cm,tuobi12,line

allsle
lsel,s,loc,x,kx(500+10*cengshu1+6)
lsel,r,loc,z,kz(500+10*cengshu1+6)
cm,tuopan1,line

ALLSEL 
cmsel,S,tuobi11      !双槽钢单元
LATT,10*cengshu1+2,,10*cengshu1+2,,,,10*cengshu1+2
LESIZE,ALL,0.05,,,,,,,1 
LMESH,ALL 

ALLSEL 
cmsel,S,tuobi12      !单槽钢单元
LATT,10*cengshu1+3,,10*cengshu1+3,,,,10*cengshu1+3
LESIZE,ALL,0.05,,,,,,,1 
LMESH,ALL 

ALLSEL 
cmsel,S,tuopan1      !tuopan单元
LATT,10*cengshu1+4,,10*cengshu1+4,,,,10*cengshu1+4
LESIZE,ALL,0.05,,,,,,,1 
LMESH,ALL 

ALLSEL
NSEL,S,LOC,X,0.5*L1+A%cengshu1%+B%cengshu1%-0.5*C%cengshu1% 
NSEL,R,LOC,Z,0.100*(2*cengshu1-1),0.100*(2*cengshu1-1)+0.040 
CPCYC,UX,,,,,0.040
CPCYC,UY,,,,,0.040
CPCYC,UZ,,,,,0.040
CPCYC,ROTY,,,,,0.040
CPCYC,ROTZ,,,,,0.040 


ALLSEL
NSEL,S,LOC,X,0.5*L1+A%cengshu1%+B%cengshu1%-0.5*C%cengshu1% 
NSEL,R,LOC,Z,0.100*(2*cengshu1-1),0.100*(2*cengshu1-1)
CM,LS9,NODE
!**********************************************************************以上为前侧第9层

!**********************************************************************以下为前侧第10层
*ELSEIF,cengshu1,EQ,10
A%cengshu1%={{ '%.4f' | format(qian[10].a) }}                                                !10层托臂1长度
B%cengshu1%={{ '%.4f' | format(qian[10].b) }}                                                !10层托臂2长度
C%cengshu1%={{ '%.4f' | format(qian[10].c) }}                                                  !10层托盘宽度

ET,10*cengshu1+2,BEAM188   
KEYOPT,1,4,2
MP,EX,10*cengshu1+2,2.04E11        
MP,PRXY,10*cengshu1+2,0.3
MP,DENS,10*cengshu1+2,7850
SECTYPE,10*cengshu1+2,BEAM,MESH  
SECOFFSET,cent, 
SECREAD,'{{ qian[10].cantilever1_sect }}','SECT',,MESH                                     !10层托臂1截面

ET,10*cengshu1+3,BEAM188            
KEYOPT,1,4,2
MP,EX,10*cengshu1+3,2.04E11        
MP,PRXY,10*cengshu1+3,0.3
MP,DENS,10*cengshu1+3,7850
SECTYPE,10*cengshu1+3,BEAM,MESH 
SECOFFSET,cent, 
SECREAD,'{{ qian[10].cantilever2_sect }}','SECT',,MESH                                     !10层托臂2截面

ET,10*cengshu1+4,BEAM188          
KEYOPT,2,4,2
MP,EX,10*cengshu1+4,2.04E11       
MP,PRXY,10*cengshu1+4,0.3
MP,DENS,10*cengshu1+4,{{ '%.2f' | format(qian[10].density) }}                                          !10层托盘密度  
SECTYPE,10*cengshu1+4,BEAM,MESH 
SECOFFSET,cent, 
SECREAD,'{{ qian[10].tray_sect }}','SECT',,MESH                                      !10层托盘截面

K,500+10*cengshu1+1,0.5*L1,0,0.100*(2*cengshu1-1)                                              
K,500+10*cengshu1+2,0.5*L1+A%cengshu1%+B%cengshu1%-0.5*C%cengshu1%,0,0.100*(2*cengshu1-1)       
K,500+10*cengshu1+3,0.5*L1+A%cengshu1%,0,0.100*(2*cengshu1-1)                                   
K,500+10*cengshu1+4,0.5*L1+A%cengshu1%+B%cengshu1%,0,0.100*(2*cengshu1-1)                       
 
K,600+10*cengshu1+1,0.5*L1,L3,0.100*(2*cengshu1-1)                                           
K,600+10*cengshu1+2,0.5*L1+A%cengshu1%+B%cengshu1%-0.5*C%cengshu1%,L3,0.100*(2*cengshu1-1)   
K,600+10*cengshu1+3,0.5*L1+A%cengshu1%,L3,0.100*(2*cengshu1-1)                               
K,600+10*cengshu1+4,0.5*L1+A%cengshu1%+B%cengshu1%,L3,0.100*(2*cengshu1-1)                   

K,700+10*cengshu1+1,0.5*L1,2*L3,0.100*(2*cengshu1-1)                                   
K,700+10*cengshu1+2,0.5*L1+A%cengshu1%+B%cengshu1%-0.5*C%cengshu1%,2*L3,0.100*(2*cengshu1-1)    
K,700+10*cengshu1+3,0.5*L1+A%cengshu1%,2*L3,0.100*(2*cengshu1-1)                        
K,700+10*cengshu1+4,0.5*L1+A%cengshu1%+B%cengshu1%,2*L3,0.100*(2*cengshu1-1)           

K,500+10*cengshu1+6,0.5*L1+A%cengshu1%+B%cengshu1%-0.5*C%cengshu1%,-0.5*L3,0.100*(2*cengshu1-1)+0.040
K,500+10*cengshu1+7,0.5*L1+A%cengshu1%+B%cengshu1%-0.5*C%cengshu1%,0,0.100*(2*cengshu1-1)+0.040
K,500+10*cengshu1+8,0.5*L1+A%cengshu1%+B%cengshu1%-0.5*C%cengshu1%,0.5*L3,0.100*(2*cengshu1-1)+0.040

K,600+10*cengshu1+7,0.5*L1+A%cengshu1%+B%cengshu1%-0.5*C%cengshu1%,1.0*L3,0.100*(2*cengshu1-1)+0.040
K,600+10*cengshu1+8,0.5*L1+A%cengshu1%+B%cengshu1%-0.5*C%cengshu1%,1.5*L3,0.100*(2*cengshu1-1)+0.040

K,700+10*cengshu1+7,0.5*L1+A%cengshu1%+B%cengshu1%-0.5*C%cengshu1%,2.0*L3,0.100*(2*cengshu1-1)+0.040
K,700+10*cengshu1+8,0.5*L1+A%cengshu1%+B%cengshu1%-0.5*C%cengshu1%,2.5*L3,0.100*(2*cengshu1-1)+0.040

*DO,I,500,700,100
L,I+10*cengshu1+1,I+10*cengshu1+2
L,I+10*cengshu1+2,I+10*cengshu1+3
L,I+10*cengshu1+3,I+10*cengshu1+4
*ENDDO

L,500+10*cengshu1+6,500+10*cengshu1+7
L,500+10*cengshu1+7,500+10*cengshu1+8
L,500+10*cengshu1+8,600+10*cengshu1+7
L,600+10*cengshu1+7,600+10*cengshu1+8
L,600+10*cengshu1+8,700+10*cengshu1+7
L,700+10*cengshu1+7,700+10*cengshu1+8

allsle
lsel,s,loc,x,kx(500+10*cengshu1+1),kx(500+10*cengshu1+3)
lsel,r,loc,z,kz(500+10*cengshu1+1)
cm,tuobi11,line

allsle
lsel,s,loc,x,kx(500+10*cengshu1+3),kx(500+10*cengshu1+4)
lsel,r,loc,z,kz(500+10*cengshu1+1)
cm,tuobi12,line

allsle
lsel,s,loc,x,kx(500+10*cengshu1+6)
lsel,r,loc,z,kz(500+10*cengshu1+6)
cm,tuopan1,line

ALLSEL 
cmsel,S,tuobi11      !双槽钢单元
LATT,10*cengshu1+2,,10*cengshu1+2,,,,10*cengshu1+2
LESIZE,ALL,0.05,,,,,,,1 
LMESH,ALL 

ALLSEL 
cmsel,S,tuobi12      !单槽钢单元
LATT,10*cengshu1+3,,10*cengshu1+3,,,,10*cengshu1+3
LESIZE,ALL,0.05,,,,,,,1 
LMESH,ALL 

ALLSEL 
cmsel,S,tuopan1      !tuopan单元
LATT,10*cengshu1+4,,10*cengshu1+4,,,,10*cengshu1+4
LESIZE,ALL,0.05,,,,,,,1 
LMESH,ALL 

ALLSEL
NSEL,S,LOC,X,0.5*L1+A%cengshu1%+B%cengshu1%-0.5*C%cengshu1% 
NSEL,R,LOC,Z,0.100*(2*cengshu1-1),0.100*(2*cengshu1-1)+0.040 
CPCYC,UX,,,,,0.040
CPCYC,UY,,,,,0.040
CPCYC,UZ,,,,,0.040
CPCYC,ROTY,,,,,0.040
CPCYC,ROTZ,,,,,0.040 


ALLSEL
NSEL,S,LOC,X,0.5*L1+A%cengshu1%+B%cengshu1%-0.5*C%cengshu1% 
NSEL,R,LOC,Z,0.100*(2*cengshu1-1),0.100*(2*cengshu1-1)
CM,LS10,NODE
!**********************************************************************以上为前侧第10层
*ENDIF
*ENDDO










!************************************************************************************************************************************************分界









*DO,cengshu1,1,houcengshu

!***************************************************************以下为后侧第1层
*IF,cengshu1,EQ,1,THEN   
A%cengshu1%={{ '%.4f' | format(hou[1].a) }}                                                !1层托臂1长度
B%cengshu1%={{ '%.4f' | format(hou[1].b) }}                                                !1层托臂2长度
C%cengshu1%={{ '%.4f' | format(hou[1].c) }}                                                  !1层托盘宽度 

ET,200*cengshu1+2,BEAM188   
KEYOPT,1,4,2
MP,EX,200*cengshu1+2,2.04E11        
MP,PRXY,200*cengshu1+2,0.3
MP,DENS,200*cengshu1+2,7850
SECTYPE,200*cengshu1+2,BEAM,MESH  
SECOFFSET,cent, 
SECREAD,'{{ hou[1].cantilever1_sect }}','SECT',,MESH                                     !1层托臂1截面

ET,200*cengshu1+3,BEAM188           
KEYOPT,1,4,2
MP,EX,200*cengshu1+3,2.04E11        
MP,PRXY,200*cengshu1+3,0.3
MP,DENS,200*cengshu1+3,7850
SECTYPE,200*cengshu1+3,BEAM,MESH 
SECOFFSET,cent, 
SECREAD,'{{ hou[1].cantilever2_sect }}','SECT',,MESH                                     !1层托臂2截面

ET,200*cengshu1+4,BEAM188          
KEYOPT,2,4,2
MP,EX,200*cengshu1+4,2.04E11       
MP,PRXY,200*cengshu1+4,0.3
MP,DENS,200*cengshu1+4,{{ '%.2f' | format(hou[1].density) }}                                         !1层托盘密度 
SECTYPE,200*cengshu1+4,BEAM,MESH 
SECOFFSET,cent, 
SECREAD,'{{ hou[1].tray_sect }}','SECT',,MESH                                      !1层托盘截面

K,1500+10*cengshu1+1,-(0.5*L1),0,0.100*(2*cengshu1-1)                                               
K,1500+10*cengshu1+2,-(0.5*L1+A%cengshu1%+B%cengshu1%-0.5*C%cengshu1%),0,0.100*(2*cengshu1-1)       
K,1500+10*cengshu1+3,-(0.5*L1+A%cengshu1%),0,0.100*(2*cengshu1-1)                                  
K,1500+10*cengshu1+4,-(0.5*L1+A%cengshu1%+B%cengshu1%),0,0.100*(2*cengshu1-1)                      
 
K,1600+10*cengshu1+1,-(0.5*L1),L3,0.100*(2*cengshu1-1)                                           
K,1600+10*cengshu1+2,-(0.5*L1+A%cengshu1%+B%cengshu1%-0.5*C%cengshu1%),L3,0.100*(2*cengshu1-1)   
K,1600+10*cengshu1+3,-(0.5*L1+A%cengshu1%),L3,0.100*(2*cengshu1-1)                               
K,1600+10*cengshu1+4,-(0.5*L1+A%cengshu1%+B%cengshu1%),L3,0.100*(2*cengshu1-1)                   

K,1700+10*cengshu1+1,-(0.5*L1),2*L3,0.100*(2*cengshu1-1)                                    
K,1700+10*cengshu1+2,-(0.5*L1+A%cengshu1%+B%cengshu1%-0.5*C%cengshu1%),2*L3,0.100*(2*cengshu1-1)     
K,1700+10*cengshu1+3,-(0.5*L1+A%cengshu1%),2*L3,0.100*(2*cengshu1-1)                        
K,1700+10*cengshu1+4,-(0.5*L1+A%cengshu1%+B%cengshu1%),2*L3,0.100*(2*cengshu1-1)            

K,1500+10*cengshu1+6,-(0.5*L1+A%cengshu1%+B%cengshu1%-0.5*C%cengshu1%),-0.5*L3,0.100*(2*cengshu1-1)+0.040
K,1500+10*cengshu1+7,-(0.5*L1+A%cengshu1%+B%cengshu1%-0.5*C%cengshu1%),0,0.100*(2*cengshu1-1)+0.040
K,1500+10*cengshu1+8,-(0.5*L1+A%cengshu1%+B%cengshu1%-0.5*C%cengshu1%),0.5*L3,0.100*(2*cengshu1-1)+0.040

K,1600+10*cengshu1+7,-(0.5*L1+A%cengshu1%+B%cengshu1%-0.5*C%cengshu1%),1.0*L3,0.100*(2*cengshu1-1)+0.040
K,1600+10*cengshu1+8,-(0.5*L1+A%cengshu1%+B%cengshu1%-0.5*C%cengshu1%),1.5*L3,0.100*(2*cengshu1-1)+0.040

K,1700+10*cengshu1+7,-(0.5*L1+A%cengshu1%+B%cengshu1%-0.5*C%cengshu1%),2.0*L3,0.100*(2*cengshu1-1)+0.040
K,1700+10*cengshu1+8,-(0.5*L1+A%cengshu1%+B%cengshu1%-0.5*C%cengshu1%),2.5*L3,0.100*(2*cengshu1-1)+0.040

*DO,I,1500,1700,100
L,I+10*cengshu1+1,I+10*cengshu1+2
L,I+10*cengshu1+2,I+10*cengshu1+3
L,I+10*cengshu1+3,I+10*cengshu1+4
*ENDDO

L,1500+10*cengshu1+6,1500+10*cengshu1+7
L,1500+10*cengshu1+7,1500+10*cengshu1+8
L,1500+10*cengshu1+8,1600+10*cengshu1+7
L,1600+10*cengshu1+7,1600+10*cengshu1+8
L,1600+10*cengshu1+8,1700+10*cengshu1+7
L,1700+10*cengshu1+7,1700+10*cengshu1+8

allsle
lsel,s,loc,x,kx(1500+10*cengshu1+1),kx(1500+10*cengshu1+3)
lsel,r,loc,z,kz(1500+10*cengshu1+1)
cm,tuobi11,line

allsle
lsel,s,loc,x,kx(1500+10*cengshu1+3),kx(1500+10*cengshu1+4)
lsel,r,loc,z,kz(1500+10*cengshu1+1)
cm,tuobi12,line

allsle
lsel,s,loc,x,kx(1500+10*cengshu1+6)
lsel,r,loc,z,kz(1500+10*cengshu1+6)
cm,tuopan1,line

ALLSEL 
cmsel,S,tuobi11      !双槽钢单元
LATT,200*cengshu1+2,,200*cengshu1+2,,,,200*cengshu1+2
LESIZE,ALL,0.05,,,,,,,1 
LMESH,ALL 

ALLSEL 
cmsel,S,tuobi12      !单槽钢单元
LATT,200*cengshu1+3,,200*cengshu1+3,,,,200*cengshu1+3
LESIZE,ALL,0.05,,,,,,,1 
LMESH,ALL 

ALLSEL 
cmsel,S,tuopan1      !tuopan单元
LATT,200*cengshu1+4,,200*cengshu1+4,,,,200*cengshu1+4
LESIZE,ALL,0.05,,,,,,,1 
LMESH,ALL 


ALLSEL
NSEL,S,LOC,X,-(0.5*L1+A%cengshu1%+B%cengshu1%-0.5*C%cengshu1%)
NSEL,R,LOC,Z,0.100*(2*cengshu1-1),0.100*(2*cengshu1-1)+0.040 
CPCYC,UX,,,,,0.040
CPCYC,UY,,,,,0.040
CPCYC,UZ,,,,,0.040
CPCYC,ROTY,,,,,0.040
CPCYC,ROTZ,,,,,0.040

ALLSEL
NSEL,S,LOC,X,-(0.5*L1+A%cengshu1%+B%cengshu1%-0.5*C%cengshu1%)
NSEL,R,LOC,Z,0.100*(2*cengshu1-1),0.100*(2*cengshu1-1)
CM,LS11,NODE
!***************************************************************以上为后侧第1层

!***************************************************************以下为后侧第2层
*ELSEIF,cengshu1,EQ,2,THEN   
A%cengshu1%={{ '%.4f' | format(hou[2].a) }}                                                !2层托臂1长度
B%cengshu1%={{ '%.4f' | format(hou[2].b) }}                                                !2层托臂2长度
C%cengshu1%={{ '%.4f' | format(hou[2].c) }}                                                  !2层托盘宽度

ET,200*cengshu1+2,BEAM188   
KEYOPT,1,4,2
MP,EX,200*cengshu1+2,2.04E11 
MP,PRXY,200*cengshu1+2,0.3
MP,DENS,200*cengshu1+2,7850
SECTYPE,200*cengshu1+2,BEAM,MESH  
SECOFFSET,cent, 
SECREAD,'{{ hou[2].cantilever1_sect }}','SECT',,MESH                                     !2层托臂1截面

ET,200*cengshu1+3,BEAM188           
KEYOPT,1,4,2
MP,EX,200*cengshu1+3,2.04E11 
MP,PRXY,200*cengshu1+3,0.3
MP,DENS,200*cengshu1+3,7850
SECTYPE,200*cengshu1+3,BEAM,MESH 
SECOFFSET,cent, 
SECREAD,'{{ hou[2].cantilever2_sect }}','SECT',,MESH                                     !2层托臂2截面

ET,200*cengshu1+4,BEAM188          
KEYOPT,2,4,2
MP,EX,200*cengshu1+4,2.04E11       
MP,PRXY,200*cengshu1+4,0.3
MP,DENS,200*cengshu1+4,{{ '%.2f' | format(hou[2].density) }}                                         !2层托盘密度
SECTYPE,200*cengshu1+4,BEAM,MESH 
SECOFFSET,cent, 
SECREAD,'{{ hou[2].tray_sect }}','SECT',,MESH                                      !2层托盘截面

K,1500+10*cengshu1+1,-(0.5*L1),0,0.100*(2*cengshu1-1)                                               
K,1500+10*cengshu1+2,-(0.5*L1+A%cengshu1%+B%cengshu1%-0.5*C%cengshu1%),0,0.100*(2*cengshu1-1)       
K,1500+10*cengshu1+3,-(0.5*L1+A%cengshu1%),0,0.100*(2*cengshu1-1)                                   
K,1500+10*cengshu1+4,-(0.5*L1+A%cengshu1%+B%cengshu1%),0,0.100*(2*cengshu1-1)                       
 
K,1600+10*cengshu1+1,-(0.5*L1),L3,0.100*(2*cengshu1-1)                                           
K,1600+10*cengshu1+2,-(0.5*L1+A%cengshu1%+B%cengshu1%-0.5*C%cengshu1%),L3,0.100*(2*cengshu1-1)   
K,1600+10*cengshu1+3,-(0.5*L1+A%cengshu1%),L3,0.100*(2*cengshu1-1)                               
K,1600+10*cengshu1+4,-(0.5*L1+A%cengshu1%+B%cengshu1%),L3,0.100*(2*cengshu1-1)                   

K,1700+10*cengshu1+1,-(0.5*L1),2*L3,0.100*(2*cengshu1-1)                                    
K,1700+10*cengshu1+2,-(0.5*L1+A%cengshu1%+B%cengshu1%-0.5*C%cengshu1%),2*L3,0.100*(2*cengshu1-1)     
K,1700+10*cengshu1+3,-(0.5*L1+A%cengshu1%),2*L3,0.100*(2*cengshu1-1)                         
K,1700+10*cengshu1+4,-(0.5*L1+A%cengshu1%+B%cengshu1%),2*L3,0.100*(2*cengshu1-1)            

K,1500+10*cengshu1+6,-(0.5*L1+A%cengshu1%+B%cengshu1%-0.5*C%cengshu1%),-0.5*L3,0.100*(2*cengshu1-1)+0.040
K,1500+10*cengshu1+7,-(0.5*L1+A%cengshu1%+B%cengshu1%-0.5*C%cengshu1%),0,0.100*(2*cengshu1-1)+0.040
K,1500+10*cengshu1+8,-(0.5*L1+A%cengshu1%+B%cengshu1%-0.5*C%cengshu1%),0.5*L3,0.100*(2*cengshu1-1)+0.040

K,1600+10*cengshu1+7,-(0.5*L1+A%cengshu1%+B%cengshu1%-0.5*C%cengshu1%),1.0*L3,0.100*(2*cengshu1-1)+0.040
K,1600+10*cengshu1+8,-(0.5*L1+A%cengshu1%+B%cengshu1%-0.5*C%cengshu1%),1.5*L3,0.100*(2*cengshu1-1)+0.040

K,1700+10*cengshu1+7,-(0.5*L1+A%cengshu1%+B%cengshu1%-0.5*C%cengshu1%),2.0*L3,0.100*(2*cengshu1-1)+0.040
K,1700+10*cengshu1+8,-(0.5*L1+A%cengshu1%+B%cengshu1%-0.5*C%cengshu1%),2.5*L3,0.100*(2*cengshu1-1)+0.040

*DO,I,1500,1700,100
L,I+10*cengshu1+1,I+10*cengshu1+2
L,I+10*cengshu1+2,I+10*cengshu1+3
L,I+10*cengshu1+3,I+10*cengshu1+4
*ENDDO

L,1500+10*cengshu1+6,1500+10*cengshu1+7
L,1500+10*cengshu1+7,1500+10*cengshu1+8
L,1500+10*cengshu1+8,1600+10*cengshu1+7
L,1600+10*cengshu1+7,1600+10*cengshu1+8
L,1600+10*cengshu1+8,1700+10*cengshu1+7
L,1700+10*cengshu1+7,1700+10*cengshu1+8

allsle
lsel,s,loc,x,kx(1500+10*cengshu1+1),kx(1500+10*cengshu1+3)
lsel,r,loc,z,kz(1500+10*cengshu1+1)
cm,tuobi11,line

allsle
lsel,s,loc,x,kx(1500+10*cengshu1+3),kx(1500+10*cengshu1+4)
lsel,r,loc,z,kz(1500+10*cengshu1+1)
cm,tuobi12,line

allsle
lsel,s,loc,x,kx(1500+10*cengshu1+6)
lsel,r,loc,z,kz(1500+10*cengshu1+6)
cm,tuopan1,line

ALLSEL 
cmsel,S,tuobi11      !双槽钢单元
LATT,200*cengshu1+2,,200*cengshu1+2,,,,200*cengshu1+2
LESIZE,ALL,0.05,,,,,,,1 
LMESH,ALL 

ALLSEL 
cmsel,S,tuobi12      !单槽钢单元
LATT,200*cengshu1+3,,200*cengshu1+3,,,,200*cengshu1+3
LESIZE,ALL,0.05,,,,,,,1 
LMESH,ALL 

ALLSEL 
cmsel,S,tuopan1      !tuopan单元
LATT,200*cengshu1+4,,200*cengshu1+4,,,,200*cengshu1+4
LESIZE,ALL,0.05,,,,,,,1 
LMESH,ALL 


ALLSEL
NSEL,S,LOC,X,-(0.5*L1+A%cengshu1%+B%cengshu1%-0.5*C%cengshu1%)
NSEL,R,LOC,Z,0.100*(2*cengshu1-1),0.100*(2*cengshu1-1)+0.040 
CPCYC,UX,,,,,0.040
CPCYC,UY,,,,,0.040
CPCYC,UZ,,,,,0.040
CPCYC,ROTY,,,,,0.040
CPCYC,ROTZ,,,,,0.040


ALLSEL
NSEL,S,LOC,X,-(0.5*L1+A%cengshu1%+B%cengshu1%-0.5*C%cengshu1%)
NSEL,R,LOC,Z,0.100*(2*cengshu1-1),0.100*(2*cengshu1-1)
CM,LS12,NODE
!**********************************************************************以上为后侧第2层

!***************************************************************以下为后侧第3层
*ELSEIF,cengshu1,EQ,3,THEN   
A%cengshu1%={{ '%.4f' | format(hou[3].a) }}                                                !3层托臂1长度
B%cengshu1%={{ '%.4f' | format(hou[3].b) }}                                                !3层托臂2长度
C%cengshu1%={{ '%.4f' | format(hou[3].c) }}                                                  !3层托盘宽度 

ET,200*cengshu1+2,BEAM188   
KEYOPT,1,4,2
MP,EX,200*cengshu1+2,2.04E11 
MP,PRXY,200*cengshu1+2,0.3
MP,DENS,200*cengshu1+2,7850
SECTYPE,200*cengshu1+2,BEAM,MESH  
SECOFFSET,cent, 
SECREAD,'{{ hou[3].cantilever1_sect }}','SECT',,MESH                                     !3层托臂1截面

ET,200*cengshu1+3,BEAM188           
KEYOPT,1,4,2
MP,EX,200*cengshu1+3,2.04E11 
MP,PRXY,200*cengshu1+3,0.3
MP,DENS,200*cengshu1+3,7850
SECTYPE,200*cengshu1+3,BEAM,MESH 
SECOFFSET,cent, 
SECREAD,'{{ hou[3].cantilever2_sect }}','SECT',,MESH                                     !3层托臂2截面

ET,200*cengshu1+4,BEAM188          
KEYOPT,2,4,2
MP,EX,200*cengshu1+4,2.04E11       
MP,PRXY,200*cengshu1+4,0.3
MP,DENS,200*cengshu1+4,{{ '%.2f' | format(hou[3].density) }}                                         !3层托盘密度
SECTYPE,200*cengshu1+4,BEAM,MESH 
SECOFFSET,cent, 
SECREAD,'{{ hou[3].tray_sect }}','SECT',,MESH                                      !3层托盘截面

K,1500+10*cengshu1+1,-(0.5*L1),0,0.100*(2*cengshu1-1)                                               
K,1500+10*cengshu1+2,-(0.5*L1+A%cengshu1%+B%cengshu1%-0.5*C%cengshu1%),0,0.100*(2*cengshu1-1)       
K,1500+10*cengshu1+3,-(0.5*L1+A%cengshu1%),0,0.100*(2*cengshu1-1)                                   
K,1500+10*cengshu1+4,-(0.5*L1+A%cengshu1%+B%cengshu1%),0,0.100*(2*cengshu1-1)                       
 
K,1600+10*cengshu1+1,-(0.5*L1),L3,0.100*(2*cengshu1-1)                                           
K,1600+10*cengshu1+2,-(0.5*L1+A%cengshu1%+B%cengshu1%-0.5*C%cengshu1%),L3,0.100*(2*cengshu1-1)  
K,1600+10*cengshu1+3,-(0.5*L1+A%cengshu1%),L3,0.100*(2*cengshu1-1)                               
K,1600+10*cengshu1+4,-(0.5*L1+A%cengshu1%+B%cengshu1%),L3,0.100*(2*cengshu1-1)                   

K,1700+10*cengshu1+1,-(0.5*L1),2*L3,0.100*(2*cengshu1-1)                                    
K,1700+10*cengshu1+2,-(0.5*L1+A%cengshu1%+B%cengshu1%-0.5*C%cengshu1%),2*L3,0.100*(2*cengshu1-1)     
K,1700+10*cengshu1+3,-(0.5*L1+A%cengshu1%),2*L3,0.100*(2*cengshu1-1)                        
K,1700+10*cengshu1+4,-(0.5*L1+A%cengshu1%+B%cengshu1%),2*L3,0.100*(2*cengshu1-1)            

K,1500+10*cengshu1+6,-(0.5*L1+A%cengshu1%+B%cengshu1%-0.5*C%cengshu1%),-0.5*L3,0.100*(2*cengshu1-1)+0.040
K,1500+10*cengshu1+7,-(0.5*L1+A%cengshu1%+B%cengshu1%-0.5*C%cengshu1%),0,0.100*(2*cengshu1-1)+0.040
K,1500+10*cengshu1+8,-(0.5*L1+A%cengshu1%+B%cengshu1%-0.5*C%cengshu1%),0.5*L3,0.100*(2*cengshu1-1)+0.040

K,1600+10*cengshu1+7,-(0.5*L1+A%cengshu1%+B%cengshu1%-0.5*C%cengshu1%),1.0*L3,0.100*(2*cengshu1-1)+0.040
K,1600+10*cengshu1+8,-(0.5*L1+A%cengshu1%+B%cengshu1%-0.5*C%cengshu1%),1.5*L3,0.100*(2*cengshu1-1)+0.040

K,1700+10*cengshu1+7,-(0.5*L1+A%cengshu1%+B%cengshu1%-0.5*C%cengshu1%),2.0*L3,0.100*(2*cengshu1-1)+0.040
K,1700+10*cengshu1+8,-(0.5*L1+A%cengshu1%+B%cengshu1%-0.5*C%cengshu1%),2.5*L3,0.100*(2*cengshu1-1)+0.040

*DO,I,1500,1700,100
L,I+10*cengshu1+1,I+10*cengshu1+2
L,I+10*cengshu1+2,I+10*cengshu1+3
L,I+10*cengshu1+3,I+10*cengshu1+4
*ENDDO

L,1500+10*cengshu1+6,1500+10*cengshu1+7
L,1500+10*cengshu1+7,1500+10*cengshu1+8
L,1500+10*cengshu1+8,1600+10*cengshu1+7
L,1600+10*cengshu1+7,1600+10*cengshu1+8
L,1600+10*cengshu1+8,1700+10*cengshu1+7
L,1700+10*cengshu1+7,1700+10*cengshu1+8

allsle
lsel,s,loc,x,kx(1500+10*cengshu1+1),kx(1500+10*cengshu1+3)
lsel,r,loc,z,kz(1500+10*cengshu1+1)
cm,tuobi11,line

allsle
lsel,s,loc,x,kx(1500+10*cengshu1+3),kx(1500+10*cengshu1+4)
lsel,r,loc,z,kz(1500+10*cengshu1+1)
cm,tuobi12,line

allsle
lsel,s,loc,x,kx(1500+10*cengshu1+6)
lsel,r,loc,z,kz(1500+10*cengshu1+6)
cm,tuopan1,line

ALLSEL 
cmsel,S,tuobi11      !双槽钢单元
LATT,200*cengshu1+2,,200*cengshu1+2,,,,200*cengshu1+2
LESIZE,ALL,0.05,,,,,,,1 
LMESH,ALL 

ALLSEL 
cmsel,S,tuobi12      !单槽钢单元
LATT,200*cengshu1+3,,200*cengshu1+3,,,,200*cengshu1+3
LESIZE,ALL,0.05,,,,,,,1 
LMESH,ALL 

ALLSEL 
cmsel,S,tuopan1      !tuopan单元
LATT,200*cengshu1+4,,200*cengshu1+4,,,,200*cengshu1+4
LESIZE,ALL,0.05,,,,,,,1 
LMESH,ALL 



ALLSEL
NSEL,S,LOC,X,-(0.5*L1+A%cengshu1%+B%cengshu1%-0.5*C%cengshu1%)
NSEL,R,LOC,Z,0.100*(2*cengshu1-1),0.100*(2*cengshu1-1)+0.040 
CPCYC,UX,,,,,0.040
CPCYC,UY,,,,,0.040
CPCYC,UZ,,,,,0.040
CPCYC,ROTY,,,,,0.040
CPCYC,ROTZ,,,,,0.040


ALLSEL
NSEL,S,LOC,X,-(0.5*L1+A%cengshu1%+B%cengshu1%-0.5*C%cengshu1%)
NSEL,R,LOC,Z,0.100*(2*cengshu1-1),0.100*(2*cengshu1-1)
CM,LS13,NODE
!**********************************************************************以上为后侧第3层

!***************************************************************以下为后侧第4层
*ELSEIF,cengshu1,EQ,4,THEN   
A%cengshu1%={{ '%.4f' | format(hou[4].a) }}                                                !4层托臂1长度
B%cengshu1%={{ '%.4f' | format(hou[4].b) }}                                                !4层托臂2长度
C%cengshu1%={{ '%.4f' | format(hou[4].c) }}                                                  !4层托盘宽度 

ET,200*cengshu1+2,BEAM188   
KEYOPT,1,4,2
MP,EX,200*cengshu1+2,2.04E11 
MP,PRXY,200*cengshu1+2,0.3
MP,DENS,200*cengshu1+2,7850
SECTYPE,200*cengshu1+2,BEAM,MESH  
SECOFFSET,cent, 
SECREAD,'{{ hou[4].cantilever1_sect }}','SECT',,MESH                                     !4层托臂1截面

ET,200*cengshu1+3,BEAM188           
KEYOPT,1,4,2
MP,EX,200*cengshu1+3,2.04E11 
MP,PRXY,200*cengshu1+3,0.3
MP,DENS,200*cengshu1+3,7850
SECTYPE,200*cengshu1+3,BEAM,MESH 
SECOFFSET,cent, 
SECREAD,'{{ hou[4].cantilever2_sect }}','SECT',,MESH                                     !4层托臂2截面

ET,200*cengshu1+4,BEAM188          
KEYOPT,2,4,2
MP,EX,200*cengshu1+4,2.04E11       
MP,PRXY,200*cengshu1+4,0.3
MP,DENS,200*cengshu1+4,{{ '%.2f' | format(hou[4].density) }}                                         !4层托盘密度 
SECTYPE,200*cengshu1+4,BEAM,MESH 
SECOFFSET,cent, 
SECREAD,'{{ hou[4].tray_sect }}','SECT',,MESH                                      !4层托盘截面

K,1500+10*cengshu1+1,-(0.5*L1),0,0.100*(2*cengshu1-1)                                               
K,1500+10*cengshu1+2,-(0.5*L1+A%cengshu1%+B%cengshu1%-0.5*C%cengshu1%),0,0.100*(2*cengshu1-1)       
K,1500+10*cengshu1+3,-(0.5*L1+A%cengshu1%),0,0.100*(2*cengshu1-1)                                   
K,1500+10*cengshu1+4,-(0.5*L1+A%cengshu1%+B%cengshu1%),0,0.100*(2*cengshu1-1)                       
 
K,1600+10*cengshu1+1,-(0.5*L1),L3,0.100*(2*cengshu1-1)                                           
K,1600+10*cengshu1+2,-(0.5*L1+A%cengshu1%+B%cengshu1%-0.5*C%cengshu1%),L3,0.100*(2*cengshu1-1)  
K,1600+10*cengshu1+3,-(0.5*L1+A%cengshu1%),L3,0.100*(2*cengshu1-1)                              
K,1600+10*cengshu1+4,-(0.5*L1+A%cengshu1%+B%cengshu1%),L3,0.100*(2*cengshu1-1)                   

K,1700+10*cengshu1+1,-(0.5*L1),2*L3,0.100*(2*cengshu1-1)                                   
K,1700+10*cengshu1+2,-(0.5*L1+A%cengshu1%+B%cengshu1%-0.5*C%cengshu1%),2*L3,0.100*(2*cengshu1-1)    
K,1700+10*cengshu1+3,-(0.5*L1+A%cengshu1%),2*L3,0.100*(2*cengshu1-1)                         
K,1700+10*cengshu1+4,-(0.5*L1+A%cengshu1%+B%cengshu1%),2*L3,0.100*(2*cengshu1-1)            

K,1500+10*cengshu1+6,-(0.5*L1+A%cengshu1%+B%cengshu1%-0.5*C%cengshu1%),-0.5*L3,0.100*(2*cengshu1-1)+0.040
K,1500+10*cengshu1+7,-(0.5*L1+A%cengshu1%+B%cengshu1%-0.5*C%cengshu1%),0,0.100*(2*cengshu1-1)+0.040
K,1500+10*cengshu1+8,-(0.5*L1+A%cengshu1%+B%cengshu1%-0.5*C%cengshu1%),0.5*L3,0.100*(2*cengshu1-1)+0.040

K,1600+10*cengshu1+7,-(0.5*L1+A%cengshu1%+B%cengshu1%-0.5*C%cengshu1%),1.0*L3,0.100*(2*cengshu1-1)+0.040
K,1600+10*cengshu1+8,-(0.5*L1+A%cengshu1%+B%cengshu1%-0.5*C%cengshu1%),1.5*L3,0.100*(2*cengshu1-1)+0.040

K,1700+10*cengshu1+7,-(0.5*L1+A%cengshu1%+B%cengshu1%-0.5*C%cengshu1%),2.0*L3,0.100*(2*cengshu1-1)+0.040
K,1700+10*cengshu1+8,-(0.5*L1+A%cengshu1%+B%cengshu1%-0.5*C%cengshu1%),2.5*L3,0.100*(2*cengshu1-1)+0.040

*DO,I,1500,1700,100
L,I+10*cengshu1+1,I+10*cengshu1+2
L,I+10*cengshu1+2,I+10*cengshu1+3
L,I+10*cengshu1+3,I+10*cengshu1+4
*ENDDO

L,1500+10*cengshu1+6,1500+10*cengshu1+7
L,1500+10*cengshu1+7,1500+10*cengshu1+8
L,1500+10*cengshu1+8,1600+10*cengshu1+7
L,1600+10*cengshu1+7,1600+10*cengshu1+8
L,1600+10*cengshu1+8,1700+10*cengshu1+7
L,1700+10*cengshu1+7,1700+10*cengshu1+8

allsle
lsel,s,loc,x,kx(1500+10*cengshu1+1),kx(1500+10*cengshu1+3)
lsel,r,loc,z,kz(1500+10*cengshu1+1)
cm,tuobi11,line

allsle
lsel,s,loc,x,kx(1500+10*cengshu1+3),kx(1500+10*cengshu1+4)
lsel,r,loc,z,kz(1500+10*cengshu1+1)
cm,tuobi12,line

allsle
lsel,s,loc,x,kx(1500+10*cengshu1+6)
lsel,r,loc,z,kz(1500+10*cengshu1+6)
cm,tuopan1,line

ALLSEL 
cmsel,S,tuobi11      !双槽钢单元
LATT,200*cengshu1+2,,200*cengshu1+2,,,,200*cengshu1+2
LESIZE,ALL,0.05,,,,,,,1 
LMESH,ALL 

ALLSEL 
cmsel,S,tuobi12      !单槽钢单元
LATT,200*cengshu1+3,,200*cengshu1+3,,,,200*cengshu1+3
LESIZE,ALL,0.05,,,,,,,1 
LMESH,ALL 

ALLSEL 
cmsel,S,tuopan1      !tuopan单元
LATT,200*cengshu1+4,,200*cengshu1+4,,,,200*cengshu1+4
LESIZE,ALL,0.05,,,,,,,1 
LMESH,ALL 



ALLSEL
NSEL,S,LOC,X,-(0.5*L1+A%cengshu1%+B%cengshu1%-0.5*C%cengshu1%)
NSEL,R,LOC,Z,0.100*(2*cengshu1-1),0.100*(2*cengshu1-1)+0.040 
CPCYC,UX,,,,,0.040
CPCYC,UY,,,,,0.040
CPCYC,UZ,,,,,0.040
CPCYC,ROTY,,,,,0.040
CPCYC,ROTZ,,,,,0.040


ALLSEL
NSEL,S,LOC,X,-(0.5*L1+A%cengshu1%+B%cengshu1%-0.5*C%cengshu1%)
NSEL,R,LOC,Z,0.100*(2*cengshu1-1),0.100*(2*cengshu1-1)
CM,LS14,NODE
!***************************************************************以上为后侧第4层

!***************************************************************以下为后侧第5层
*ELSEIF,cengshu1,EQ,5,THEN   
A%cengshu1%={{ '%.4f' | format(hou[5].a) }}                                                !5层托臂1长度
B%cengshu1%={{ '%.4f' | format(hou[5].b) }}                                                !5层托臂2长度
C%cengshu1%={{ '%.4f' | format(hou[5].c) }}                                                  !5层托盘宽度 

ET,200*cengshu1+2,BEAM188   
KEYOPT,1,4,2
MP,EX,200*cengshu1+2,2.04E11 
MP,PRXY,200*cengshu1+2,0.3
MP,DENS,200*cengshu1+2,7850
SECTYPE,200*cengshu1+2,BEAM,MESH  
SECOFFSET,cent, 
SECREAD,'{{ hou[5].cantilever1_sect }}','SECT',,MESH                                     !5层托臂1截面


ET,200*cengshu1+3,BEAM188           
KEYOPT,1,4,2
MP,EX,200*cengshu1+3,2.04E11 
MP,PRXY,200*cengshu1+3,0.3
MP,DENS,200*cengshu1+3,7850
SECTYPE,200*cengshu1+3,BEAM,MESH 
SECOFFSET,cent, 
SECREAD,'{{ hou[5].cantilever2_sect }}','SECT',,MESH                                     !5层托臂2截面

ET,200*cengshu1+4,BEAM188          
KEYOPT,2,4,2
MP,EX,200*cengshu1+4,2.04E11       
MP,PRXY,200*cengshu1+4,0.3
MP,DENS,200*cengshu1+4,{{ '%.2f' | format(hou[5].density) }}                                        !5层托盘密度 
SECTYPE,200*cengshu1+4,BEAM,MESH 
SECOFFSET,cent, 
SECREAD,'{{ hou[5].tray_sect }}','SECT',,MESH                                      !5层托盘截面

K,1500+10*cengshu1+1,-(0.5*L1),0,0.100*(2*cengshu1-1)                                               
K,1500+10*cengshu1+2,-(0.5*L1+A%cengshu1%+B%cengshu1%-0.5*C%cengshu1%),0,0.100*(2*cengshu1-1)       
K,1500+10*cengshu1+3,-(0.5*L1+A%cengshu1%),0,0.100*(2*cengshu1-1)                                   
K,1500+10*cengshu1+4,-(0.5*L1+A%cengshu1%+B%cengshu1%),0,0.100*(2*cengshu1-1)                       
 
K,1600+10*cengshu1+1,-(0.5*L1),L3,0.100*(2*cengshu1-1)                                           
K,1600+10*cengshu1+2,-(0.5*L1+A%cengshu1%+B%cengshu1%-0.5*C%cengshu1%),L3,0.100*(2*cengshu1-1)  
K,1600+10*cengshu1+3,-(0.5*L1+A%cengshu1%),L3,0.100*(2*cengshu1-1)                               
K,1600+10*cengshu1+4,-(0.5*L1+A%cengshu1%+B%cengshu1%),L3,0.100*(2*cengshu1-1)                   

K,1700+10*cengshu1+1,-(0.5*L1),2*L3,0.100*(2*cengshu1-1)                                   
K,1700+10*cengshu1+2,-(0.5*L1+A%cengshu1%+B%cengshu1%-0.5*C%cengshu1%),2*L3,0.100*(2*cengshu1-1)     
K,1700+10*cengshu1+3,-(0.5*L1+A%cengshu1%),2*L3,0.100*(2*cengshu1-1)                        
K,1700+10*cengshu1+4,-(0.5*L1+A%cengshu1%+B%cengshu1%),2*L3,0.100*(2*cengshu1-1)          

K,1500+10*cengshu1+6,-(0.5*L1+A%cengshu1%+B%cengshu1%-0.5*C%cengshu1%),-0.5*L3,0.100*(2*cengshu1-1)+0.040
K,1500+10*cengshu1+7,-(0.5*L1+A%cengshu1%+B%cengshu1%-0.5*C%cengshu1%),0,0.100*(2*cengshu1-1)+0.040
K,1500+10*cengshu1+8,-(0.5*L1+A%cengshu1%+B%cengshu1%-0.5*C%cengshu1%),0.5*L3,0.100*(2*cengshu1-1)+0.040

K,1600+10*cengshu1+7,-(0.5*L1+A%cengshu1%+B%cengshu1%-0.5*C%cengshu1%),1.0*L3,0.100*(2*cengshu1-1)+0.040
K,1600+10*cengshu1+8,-(0.5*L1+A%cengshu1%+B%cengshu1%-0.5*C%cengshu1%),1.5*L3,0.100*(2*cengshu1-1)+0.040

K,1700+10*cengshu1+7,-(0.5*L1+A%cengshu1%+B%cengshu1%-0.5*C%cengshu1%),2.0*L3,0.100*(2*cengshu1-1)+0.040
K,1700+10*cengshu1+8,-(0.5*L1+A%cengshu1%+B%cengshu1%-0.5*C%cengshu1%),2.5*L3,0.100*(2*cengshu1-1)+0.040

*DO,I,1500,1700,100
L,I+10*cengshu1+1,I+10*cengshu1+2
L,I+10*cengshu1+2,I+10*cengshu1+3
L,I+10*cengshu1+3,I+10*cengshu1+4
*ENDDO

L,1500+10*cengshu1+6,1500+10*cengshu1+7
L,1500+10*cengshu1+7,1500+10*cengshu1+8
L,1500+10*cengshu1+8,1600+10*cengshu1+7
L,1600+10*cengshu1+7,1600+10*cengshu1+8
L,1600+10*cengshu1+8,1700+10*cengshu1+7
L,1700+10*cengshu1+7,1700+10*cengshu1+8

allsle
lsel,s,loc,x,kx(1500+10*cengshu1+1),kx(1500+10*cengshu1+3)
lsel,r,loc,z,kz(1500+10*cengshu1+1)
cm,tuobi11,line

allsle
lsel,s,loc,x,kx(1500+10*cengshu1+3),kx(1500+10*cengshu1+4)
lsel,r,loc,z,kz(1500+10*cengshu1+1)
cm,tuobi12,line

allsle
lsel,s,loc,x,kx(1500+10*cengshu1+6)
lsel,r,loc,z,kz(1500+10*cengshu1+6)
cm,tuopan1,line

ALLSEL 
cmsel,S,tuobi11      !双槽钢单元
LATT,200*cengshu1+2,,200*cengshu1+2,,,,200*cengshu1+2
LESIZE,ALL,0.05,,,,,,,1 
LMESH,ALL 

ALLSEL 
cmsel,S,tuobi12      !单槽钢单元
LATT,200*cengshu1+3,,200*cengshu1+3,,,,200*cengshu1+3
LESIZE,ALL,0.05,,,,,,,1 
LMESH,ALL 

ALLSEL 
cmsel,S,tuopan1      !tuopan单元
LATT,200*cengshu1+4,,200*cengshu1+4,,,,200*cengshu1+4
LESIZE,ALL,0.05,,,,,,,1 
LMESH,ALL 



ALLSEL
NSEL,S,LOC,X,-(0.5*L1+A%cengshu1%+B%cengshu1%-0.5*C%cengshu1%)
NSEL,R,LOC,Z,0.100*(2*cengshu1-1),0.100*(2*cengshu1-1)+0.040 
CPCYC,UX,,,,,0.040
CPCYC,UY,,,,,0.040
CPCYC,UZ,,,,,0.040
CPCYC,ROTY,,,,,0.040
CPCYC,ROTZ,,,,,0.040


ALLSEL
NSEL,S,LOC,X,-(0.5*L1+A%cengshu1%+B%cengshu1%-0.5*C%cengshu1%)
NSEL,R,LOC,Z,0.100*(2*cengshu1-1),0.100*(2*cengshu1-1)
CM,LS15,NODE
!***************************************************************以上为后侧第5层

!***************************************************************以下为后侧第6层
*ELSEIF,cengshu1,EQ,6,THEN   
A%cengshu1%={{ '%.4f' | format(hou[6].a) }}                                                !6层托臂1长度
B%cengshu1%={{ '%.4f' | format(hou[6].b) }}                                                !6层托臂2长度
C%cengshu1%={{ '%.4f' | format(hou[6].c) }}                                                  !6层托盘宽度 

ET,200*cengshu1+2,BEAM188   
KEYOPT,1,4,2
MP,EX,200*cengshu1+2,2.04E11 
MP,PRXY,200*cengshu1+2,0.3
MP,DENS,200*cengshu1+2,7850
SECTYPE,200*cengshu1+2,BEAM,MESH  
SECOFFSET,cent, 
SECREAD,'{{ hou[6].cantilever1_sect }}','SECT',,MESH                                    !6层托臂1截面

ET,200*cengshu1+3,BEAM188           
KEYOPT,1,4,2
MP,EX,200*cengshu1+3,2.04E11 
MP,PRXY,200*cengshu1+3,0.3
MP,DENS,200*cengshu1+3,7850
SECTYPE,200*cengshu1+3,BEAM,MESH 
SECOFFSET,cent, 
SECREAD,'{{ hou[6].cantilever2_sect }}','SECT',,MESH                                     !6层托臂2截面

ET,200*cengshu1+4,BEAM188          
KEYOPT,2,4,2
MP,EX,200*cengshu1+4,2.04E11       
MP,PRXY,200*cengshu1+4,0.3
MP,DENS,200*cengshu1+4,{{ '%.2f' | format(hou[6].density) }}                                       !6层托盘密度
SECTYPE,200*cengshu1+4,BEAM,MESH 
SECOFFSET,cent, 
SECREAD,'{{ hou[6].tray_sect }}','SECT',,MESH                                     !6层托盘截面

K,1500+10*cengshu1+1,-(0.5*L1),0,0.100*(2*cengshu1-1)                                              
K,1500+10*cengshu1+2,-(0.5*L1+A%cengshu1%+B%cengshu1%-0.5*C%cengshu1%),0,0.100*(2*cengshu1-1)      
K,1500+10*cengshu1+3,-(0.5*L1+A%cengshu1%),0,0.100*(2*cengshu1-1)                                   
K,1500+10*cengshu1+4,-(0.5*L1+A%cengshu1%+B%cengshu1%),0,0.100*(2*cengshu1-1)                       
 
K,1600+10*cengshu1+1,-(0.5*L1),L3,0.100*(2*cengshu1-1)                                         
K,1600+10*cengshu1+2,-(0.5*L1+A%cengshu1%+B%cengshu1%-0.5*C%cengshu1%),L3,0.100*(2*cengshu1-1)  
K,1600+10*cengshu1+3,-(0.5*L1+A%cengshu1%),L3,0.100*(2*cengshu1-1)                             
K,1600+10*cengshu1+4,-(0.5*L1+A%cengshu1%+B%cengshu1%),L3,0.100*(2*cengshu1-1)                 

K,1700+10*cengshu1+1,-(0.5*L1),2*L3,0.100*(2*cengshu1-1)                                  
K,1700+10*cengshu1+2,-(0.5*L1+A%cengshu1%+B%cengshu1%-0.5*C%cengshu1%),2*L3,0.100*(2*cengshu1-1)     
K,1700+10*cengshu1+3,-(0.5*L1+A%cengshu1%),2*L3,0.100*(2*cengshu1-1)                        
K,1700+10*cengshu1+4,-(0.5*L1+A%cengshu1%+B%cengshu1%),2*L3,0.100*(2*cengshu1-1)           

K,1500+10*cengshu1+6,-(0.5*L1+A%cengshu1%+B%cengshu1%-0.5*C%cengshu1%),-0.5*L3,0.100*(2*cengshu1-1)+0.040
K,1500+10*cengshu1+7,-(0.5*L1+A%cengshu1%+B%cengshu1%-0.5*C%cengshu1%),0,0.100*(2*cengshu1-1)+0.040
K,1500+10*cengshu1+8,-(0.5*L1+A%cengshu1%+B%cengshu1%-0.5*C%cengshu1%),0.5*L3,0.100*(2*cengshu1-1)+0.040

K,1600+10*cengshu1+7,-(0.5*L1+A%cengshu1%+B%cengshu1%-0.5*C%cengshu1%),1.0*L3,0.100*(2*cengshu1-1)+0.040
K,1600+10*cengshu1+8,-(0.5*L1+A%cengshu1%+B%cengshu1%-0.5*C%cengshu1%),1.5*L3,0.100*(2*cengshu1-1)+0.040

K,1700+10*cengshu1+7,-(0.5*L1+A%cengshu1%+B%cengshu1%-0.5*C%cengshu1%),2.0*L3,0.100*(2*cengshu1-1)+0.040
K,1700+10*cengshu1+8,-(0.5*L1+A%cengshu1%+B%cengshu1%-0.5*C%cengshu1%),2.5*L3,0.100*(2*cengshu1-1)+0.040

*DO,I,1500,1700,100
L,I+10*cengshu1+1,I+10*cengshu1+2
L,I+10*cengshu1+2,I+10*cengshu1+3
L,I+10*cengshu1+3,I+10*cengshu1+4
*ENDDO

L,1500+10*cengshu1+6,1500+10*cengshu1+7
L,1500+10*cengshu1+7,1500+10*cengshu1+8
L,1500+10*cengshu1+8,1600+10*cengshu1+7
L,1600+10*cengshu1+7,1600+10*cengshu1+8
L,1600+10*cengshu1+8,1700+10*cengshu1+7
L,1700+10*cengshu1+7,1700+10*cengshu1+8

allsle
lsel,s,loc,x,kx(1500+10*cengshu1+1),kx(1500+10*cengshu1+3)
lsel,r,loc,z,kz(1500+10*cengshu1+1)
cm,tuobi11,line

allsle
lsel,s,loc,x,kx(1500+10*cengshu1+3),kx(1500+10*cengshu1+4)
lsel,r,loc,z,kz(1500+10*cengshu1+1)
cm,tuobi12,line

allsle
lsel,s,loc,x,kx(1500+10*cengshu1+6)
lsel,r,loc,z,kz(1500+10*cengshu1+6)
cm,tuopan1,line

ALLSEL 
cmsel,S,tuobi11      !双槽钢单元
LATT,200*cengshu1+2,,200*cengshu1+2,,,,200*cengshu1+2
LESIZE,ALL,0.05,,,,,,,1 
LMESH,ALL 

ALLSEL 
cmsel,S,tuobi12      !单槽钢单元
LATT,200*cengshu1+3,,200*cengshu1+3,,,,200*cengshu1+3
LESIZE,ALL,0.05,,,,,,,1 
LMESH,ALL 

ALLSEL 
cmsel,S,tuopan1      !tuopan单元
LATT,200*cengshu1+4,,200*cengshu1+4,,,,200*cengshu1+4
LESIZE,ALL,0.05,,,,,,,1 
LMESH,ALL 



ALLSEL
NSEL,S,LOC,X,-(0.5*L1+A%cengshu1%+B%cengshu1%-0.5*C%cengshu1%)
NSEL,R,LOC,Z,0.100*(2*cengshu1-1),0.100*(2*cengshu1-1)+0.040 
CPCYC,UX,,,,,0.040
CPCYC,UY,,,,,0.040
CPCYC,UZ,,,,,0.040
CPCYC,ROTY,,,,,0.040
CPCYC,ROTZ,,,,,0.040


ALLSEL
NSEL,S,LOC,X,-(0.5*L1+A%cengshu1%+B%cengshu1%-0.5*C%cengshu1%)
NSEL,R,LOC,Z,0.100*(2*cengshu1-1),0.100*(2*cengshu1-1)
CM,LS16,NODE
!***************************************************************以上为后侧第6层

!***************************************************************以下为后侧第7层
*ELSEIF,cengshu1,EQ,7,THEN   
A%cengshu1%={{ '%.4f' | format(hou[7].a) }}                                                !7层托臂1长度
B%cengshu1%={{ '%.4f' | format(hou[7].b) }}                                                !7层托臂2长度
C%cengshu1%={{ '%.4f' | format(hou[7].c) }}                                                  !7层托盘宽度

ET,200*cengshu1+2,BEAM188   
KEYOPT,1,4,2
MP,EX,200*cengshu1+2,2.04E11 
MP,PRXY,200*cengshu1+2,0.3
MP,DENS,200*cengshu1+2,7850
SECTYPE,200*cengshu1+2,BEAM,MESH  
SECOFFSET,cent, 
SECREAD,'{{ hou[7].cantilever1_sect }}','SECT',,MESH                                     !7层托臂1截面

ET,200*cengshu1+3,BEAM188           
KEYOPT,1,4,2
MP,EX,200*cengshu1+3,2.04E11 
MP,PRXY,200*cengshu1+3,0.3
MP,DENS,200*cengshu1+3,7850
SECTYPE,200*cengshu1+3,BEAM,MESH 
SECOFFSET,cent, 
SECREAD,'{{ hou[7].cantilever2_sect }}','SECT',,MESH                                     !7层托臂2截面

ET,200*cengshu1+4,BEAM188          
KEYOPT,2,4,2
MP,EX,200*cengshu1+4,2.04E11       
MP,PRXY,200*cengshu1+4,0.3
MP,DENS,200*cengshu1+4,{{ '%.2f' | format(hou[7].density) }}                                         !7层托盘密度  
SECTYPE,200*cengshu1+4,BEAM,MESH 
SECOFFSET,cent, 
SECREAD,'{{ hou[7].tray_sect }}','SECT',,MESH                                     !7层托盘截面

K,1500+10*cengshu1+1,-(0.5*L1),0,0.100*(2*cengshu1-1)                                               
K,1500+10*cengshu1+2,-(0.5*L1+A%cengshu1%+B%cengshu1%-0.5*C%cengshu1%),0,0.100*(2*cengshu1-1)       
K,1500+10*cengshu1+3,-(0.5*L1+A%cengshu1%),0,0.100*(2*cengshu1-1)                                   
K,1500+10*cengshu1+4,-(0.5*L1+A%cengshu1%+B%cengshu1%),0,0.100*(2*cengshu1-1)                       
 
K,1600+10*cengshu1+1,-(0.5*L1),L3,0.100*(2*cengshu1-1)                                           
K,1600+10*cengshu1+2,-(0.5*L1+A%cengshu1%+B%cengshu1%-0.5*C%cengshu1%),L3,0.100*(2*cengshu1-1)   
K,1600+10*cengshu1+3,-(0.5*L1+A%cengshu1%),L3,0.100*(2*cengshu1-1)                               
K,1600+10*cengshu1+4,-(0.5*L1+A%cengshu1%+B%cengshu1%),L3,0.100*(2*cengshu1-1)                   

K,1700+10*cengshu1+1,-(0.5*L1),2*L3,0.100*(2*cengshu1-1)                                    
K,1700+10*cengshu1+2,-(0.5*L1+A%cengshu1%+B%cengshu1%-0.5*C%cengshu1%),2*L3,0.100*(2*cengshu1-1)     
K,1700+10*cengshu1+3,-(0.5*L1+A%cengshu1%),2*L3,0.100*(2*cengshu1-1)                        
K,1700+10*cengshu1+4,-(0.5*L1+A%cengshu1%+B%cengshu1%),2*L3,0.100*(2*cengshu1-1)            

K,1500+10*cengshu1+6,-(0.5*L1+A%cengshu1%+B%cengshu1%-0.5*C%cengshu1%),-0.5*L3,0.100*(2*cengshu1-1)+0.040
K,1500+10*cengshu1+7,-(0.5*L1+A%cengshu1%+B%cengshu1%-0.5*C%cengshu1%),0,0.100*(2*cengshu1-1)+0.040
K,1500+10*cengshu1+8,-(0.5*L1+A%cengshu1%+B%cengshu1%-0.5*C%cengshu1%),0.5*L3,0.100*(2*cengshu1-1)+0.040

K,1600+10*cengshu1+7,-(0.5*L1+A%cengshu1%+B%cengshu1%-0.5*C%cengshu1%),1.0*L3,0.100*(2*cengshu1-1)+0.040
K,1600+10*cengshu1+8,-(0.5*L1+A%cengshu1%+B%cengshu1%-0.5*C%cengshu1%),1.5*L3,0.100*(2*cengshu1-1)+0.040

K,1700+10*cengshu1+7,-(0.5*L1+A%cengshu1%+B%cengshu1%-0.5*C%cengshu1%),2.0*L3,0.100*(2*cengshu1-1)+0.040
K,1700+10*cengshu1+8,-(0.5*L1+A%cengshu1%+B%cengshu1%-0.5*C%cengshu1%),2.5*L3,0.100*(2*cengshu1-1)+0.040

*DO,I,1500,1700,100
L,I+10*cengshu1+1,I+10*cengshu1+2
L,I+10*cengshu1+2,I+10*cengshu1+3
L,I+10*cengshu1+3,I+10*cengshu1+4
*ENDDO

L,1500+10*cengshu1+6,1500+10*cengshu1+7
L,1500+10*cengshu1+7,1500+10*cengshu1+8
L,1500+10*cengshu1+8,1600+10*cengshu1+7
L,1600+10*cengshu1+7,1600+10*cengshu1+8
L,1600+10*cengshu1+8,1700+10*cengshu1+7
L,1700+10*cengshu1+7,1700+10*cengshu1+8

allsle
lsel,s,loc,x,kx(1500+10*cengshu1+1),kx(1500+10*cengshu1+3)
lsel,r,loc,z,kz(1500+10*cengshu1+1)
cm,tuobi11,line

allsle
lsel,s,loc,x,kx(1500+10*cengshu1+3),kx(1500+10*cengshu1+4)
lsel,r,loc,z,kz(1500+10*cengshu1+1)
cm,tuobi12,line

allsle
lsel,s,loc,x,kx(1500+10*cengshu1+6)
lsel,r,loc,z,kz(1500+10*cengshu1+6)
cm,tuopan1,line

ALLSEL 
cmsel,S,tuobi11      !双槽钢单元
LATT,200*cengshu1+2,,200*cengshu1+2,,,,200*cengshu1+2
LESIZE,ALL,0.05,,,,,,,1 
LMESH,ALL 

ALLSEL 
cmsel,S,tuobi12      !单槽钢单元
LATT,200*cengshu1+3,,200*cengshu1+3,,,,200*cengshu1+3
LESIZE,ALL,0.05,,,,,,,1 
LMESH,ALL 

ALLSEL 
cmsel,S,tuopan1      !tuopan单元
LATT,200*cengshu1+4,,200*cengshu1+4,,,,200*cengshu1+4
LESIZE,ALL,0.05,,,,,,,1 
LMESH,ALL 



ALLSEL
NSEL,S,LOC,X,-(0.5*L1+A%cengshu1%+B%cengshu1%-0.5*C%cengshu1%)
NSEL,R,LOC,Z,0.100*(2*cengshu1-1),0.100*(2*cengshu1-1)+0.040 
CPCYC,UX,,,,,0.040
CPCYC,UY,,,,,0.040
CPCYC,UZ,,,,,0.040
CPCYC,ROTY,,,,,0.040
CPCYC,ROTZ,,,,,0.040


ALLSEL
NSEL,S,LOC,X,-(0.5*L1+A%cengshu1%+B%cengshu1%-0.5*C%cengshu1%)
NSEL,R,LOC,Z,0.100*(2*cengshu1-1),0.100*(2*cengshu1-1)
CM,LS17,NODE
!***************************************************************以上为后侧第7层

!***************************************************************以下为后侧第8层
*ELSEIF,cengshu1,EQ,8,THEN   
A%cengshu1%={{ '%.4f' | format(hou[8].a) }}                                                !8层托臂1长度
B%cengshu1%={{ '%.4f' | format(hou[8].b) }}                                                !8层托臂2长度
C%cengshu1%={{ '%.4f' | format(hou[8].c) }}                                                  !8层托盘宽度 

ET,200*cengshu1+2,BEAM188   
KEYOPT,1,4,2
MP,EX,200*cengshu1+2,2.04E11 
MP,PRXY,200*cengshu1+2,0.3
MP,DENS,200*cengshu1+2,7850
SECTYPE,200*cengshu1+2,BEAM,MESH  
SECOFFSET,cent, 
SECREAD,'{{ hou[8].cantilever1_sect }}','SECT',,MESH                                     !8层托臂1截面

ET,200*cengshu1+3,BEAM188           
KEYOPT,1,4,2
MP,EX,200*cengshu1+3,2.04E11 
MP,PRXY,200*cengshu1+3,0.3
MP,DENS,200*cengshu1+3,7850
SECTYPE,200*cengshu1+3,BEAM,MESH 
SECOFFSET,cent, 
SECREAD,'{{ hou[8].cantilever2_sect }}','SECT',,MESH                                     !8层托臂2截面

ET,200*cengshu1+4,BEAM188          
KEYOPT,2,4,2
MP,EX,200*cengshu1+4,2.04E11       
MP,PRXY,200*cengshu1+4,0.3
MP,DENS,200*cengshu1+4,{{ '%.2f' | format(hou[8].density) }}                                        !8层托盘密度
SECTYPE,200*cengshu1+4,BEAM,MESH 
SECOFFSET,cent, 
SECREAD,'{{ hou[8].tray_sect }}','SECT',,MESH                                      !8层托盘截面

K,1500+10*cengshu1+1,-(0.5*L1),0,0.100*(2*cengshu1-1)                                               
K,1500+10*cengshu1+2,-(0.5*L1+A%cengshu1%+B%cengshu1%-0.5*C%cengshu1%),0,0.100*(2*cengshu1-1)       
K,1500+10*cengshu1+3,-(0.5*L1+A%cengshu1%),0,0.100*(2*cengshu1-1)                                   
K,1500+10*cengshu1+4,-(0.5*L1+A%cengshu1%+B%cengshu1%),0,0.100*(2*cengshu1-1)                       
 
K,1600+10*cengshu1+1,-(0.5*L1),L3,0.100*(2*cengshu1-1)                                           
K,1600+10*cengshu1+2,-(0.5*L1+A%cengshu1%+B%cengshu1%-0.5*C%cengshu1%),L3,0.100*(2*cengshu1-1)   
K,1600+10*cengshu1+3,-(0.5*L1+A%cengshu1%),L3,0.100*(2*cengshu1-1)                               
K,1600+10*cengshu1+4,-(0.5*L1+A%cengshu1%+B%cengshu1%),L3,0.100*(2*cengshu1-1)                   

K,1700+10*cengshu1+1,-(0.5*L1),2*L3,0.100*(2*cengshu1-1)                                    
K,1700+10*cengshu1+2,-(0.5*L1+A%cengshu1%+B%cengshu1%-0.5*C%cengshu1%),2*L3,0.100*(2*cengshu1-1)     
K,1700+10*cengshu1+3,-(0.5*L1+A%cengshu1%),2*L3,0.100*(2*cengshu1-1)                        
K,1700+10*cengshu1+4,-(0.5*L1+A%cengshu1%+B%cengshu1%),2*L3,0.100*(2*cengshu1-1)            

K,1500+10*cengshu1+6,-(0.5*L1+A%cengshu1%+B%cengshu1%-0.5*C%cengshu1%),-0.5*L3,0.100*(2*cengshu1-1)+0.040
K,1500+10*cengshu1+7,-(0.5*L1+A%cengshu1%+B%cengshu1%-0.5*C%cengshu1%),0,0.100*(2*cengshu1-1)+0.040
K,1500+10*cengshu1+8,-(0.5*L1+A%cengshu1%+B%cengshu1%-0.5*C%cengshu1%),0.5*L3,0.100*(2*cengshu1-1)+0.040

K,1600+10*cengshu1+7,-(0.5*L1+A%cengshu1%+B%cengshu1%-0.5*C%cengshu1%),1.0*L3,0.100*(2*cengshu1-1)+0.040
K,1600+10*cengshu1+8,-(0.5*L1+A%cengshu1%+B%cengshu1%-0.5*C%cengshu1%),1.5*L3,0.100*(2*cengshu1-1)+0.040

K,1700+10*cengshu1+7,-(0.5*L1+A%cengshu1%+B%cengshu1%-0.5*C%cengshu1%),2.0*L3,0.100*(2*cengshu1-1)+0.040
K,1700+10*cengshu1+8,-(0.5*L1+A%cengshu1%+B%cengshu1%-0.5*C%cengshu1%),2.5*L3,0.100*(2*cengshu1-1)+0.040

*DO,I,1500,1700,100
L,I+10*cengshu1+1,I+10*cengshu1+2
L,I+10*cengshu1+2,I+10*cengshu1+3
L,I+10*cengshu1+3,I+10*cengshu1+4
*ENDDO

L,1500+10*cengshu1+6,1500+10*cengshu1+7
L,1500+10*cengshu1+7,1500+10*cengshu1+8
L,1500+10*cengshu1+8,1600+10*cengshu1+7
L,1600+10*cengshu1+7,1600+10*cengshu1+8
L,1600+10*cengshu1+8,1700+10*cengshu1+7
L,1700+10*cengshu1+7,1700+10*cengshu1+8

allsle
lsel,s,loc,x,kx(1500+10*cengshu1+1),kx(1500+10*cengshu1+3)
lsel,r,loc,z,kz(1500+10*cengshu1+1)
cm,tuobi11,line

allsle
lsel,s,loc,x,kx(1500+10*cengshu1+3),kx(1500+10*cengshu1+4)
lsel,r,loc,z,kz(1500+10*cengshu1+1)
cm,tuobi12,line

allsle
lsel,s,loc,x,kx(1500+10*cengshu1+6)
lsel,r,loc,z,kz(1500+10*cengshu1+6)
cm,tuopan1,line

ALLSEL 
cmsel,S,tuobi11      !双槽钢单元
LATT,200*cengshu1+2,,200*cengshu1+2,,,,200*cengshu1+2
LESIZE,ALL,0.05,,,,,,,1 
LMESH,ALL 

ALLSEL 
cmsel,S,tuobi12      !单槽钢单元
LATT,200*cengshu1+3,,200*cengshu1+3,,,,200*cengshu1+3
LESIZE,ALL,0.05,,,,,,,1 
LMESH,ALL 

ALLSEL 
cmsel,S,tuopan1      !tuopan单元
LATT,200*cengshu1+4,,200*cengshu1+4,,,,200*cengshu1+4
LESIZE,ALL,0.05,,,,,,,1 
LMESH,ALL 



ALLSEL
NSEL,S,LOC,X,-(0.5*L1+A%cengshu1%+B%cengshu1%-0.5*C%cengshu1%)
NSEL,R,LOC,Z,0.100*(2*cengshu1-1),0.100*(2*cengshu1-1)+0.040 
CPCYC,UX,,,,,0.040
CPCYC,UY,,,,,0.040
CPCYC,UZ,,,,,0.040
CPCYC,ROTY,,,,,0.040
CPCYC,ROTZ,,,,,0.040


ALLSEL
NSEL,S,LOC,X,-(0.5*L1+A%cengshu1%+B%cengshu1%-0.5*C%cengshu1%)
NSEL,R,LOC,Z,0.100*(2*cengshu1-1),0.100*(2*cengshu1-1)
CM,LS18,NODE
!***************************************************************以上为后侧第8层

!***************************************************************以下为后侧第9层
*ELSEIF,cengshu1,EQ,9,THEN   
A%cengshu1%={{ '%.4f' | format(hou[9].a) }}                                                !9层托臂1长度
B%cengshu1%={{ '%.4f' | format(hou[9].b) }}                                                !9层托臂2长度
C%cengshu1%={{ '%.4f' | format(hou[9].c) }}                                                  !9层托盘宽度 


ET,200*cengshu1+2,BEAM188   
KEYOPT,1,4,2
MP,EX,200*cengshu1+2,2.04E11 
MP,PRXY,200*cengshu1+2,0.3
MP,DENS,200*cengshu1+2,7850
SECTYPE,200*cengshu1+2,BEAM,MESH  
SECOFFSET,cent, 
SECREAD,'{{ hou[9].cantilever1_sect }}','SECT',,MESH                                    !9层托臂1截面

ET,200*cengshu1+3,BEAM188           
KEYOPT,1,4,2
MP,EX,200*cengshu1+3,2.04E11 
MP,PRXY,200*cengshu1+3,0.3
MP,DENS,200*cengshu1+3,7850
SECTYPE,200*cengshu1+3,BEAM,MESH 
SECOFFSET,cent, 
SECREAD,'{{ hou[9].cantilever2_sect }}','SECT',,MESH                                    !9层托臂2截面

ET,200*cengshu1+4,BEAM188          
KEYOPT,2,4,2
MP,EX,200*cengshu1+4,2.04E11       
MP,PRXY,200*cengshu1+4,0.3
MP,DENS,200*cengshu1+4,{{ '%.2f' | format(hou[9].density) }}                                        !9层托盘密度  
SECTYPE,200*cengshu1+4,BEAM,MESH 
SECOFFSET,cent, 
SECREAD,'{{ hou[9].tray_sect }}','SECT',,MESH                                     !9层托盘截面

K,1500+10*cengshu1+1,-(0.5*L1),0,0.100*(2*cengshu1-1)                                               
K,1500+10*cengshu1+2,-(0.5*L1+A%cengshu1%+B%cengshu1%-0.5*C%cengshu1%),0,0.100*(2*cengshu1-1)       
K,1500+10*cengshu1+3,-(0.5*L1+A%cengshu1%),0,0.100*(2*cengshu1-1)                                   
K,1500+10*cengshu1+4,-(0.5*L1+A%cengshu1%+B%cengshu1%),0,0.100*(2*cengshu1-1)                       
 
K,1600+10*cengshu1+1,-(0.5*L1),L3,0.100*(2*cengshu1-1)                                          
K,1600+10*cengshu1+2,-(0.5*L1+A%cengshu1%+B%cengshu1%-0.5*C%cengshu1%),L3,0.100*(2*cengshu1-1)   
K,1600+10*cengshu1+3,-(0.5*L1+A%cengshu1%),L3,0.100*(2*cengshu1-1)                               
K,1600+10*cengshu1+4,-(0.5*L1+A%cengshu1%+B%cengshu1%),L3,0.100*(2*cengshu1-1)                   

K,1700+10*cengshu1+1,-(0.5*L1),2*L3,0.100*(2*cengshu1-1)                                    
K,1700+10*cengshu1+2,-(0.5*L1+A%cengshu1%+B%cengshu1%-0.5*C%cengshu1%),2*L3,0.100*(2*cengshu1-1)    
K,1700+10*cengshu1+3,-(0.5*L1+A%cengshu1%),2*L3,0.100*(2*cengshu1-1)                         
K,1700+10*cengshu1+4,-(0.5*L1+A%cengshu1%+B%cengshu1%),2*L3,0.100*(2*cengshu1-1)            

K,1500+10*cengshu1+6,-(0.5*L1+A%cengshu1%+B%cengshu1%-0.5*C%cengshu1%),-0.5*L3,0.100*(2*cengshu1-1)+0.040
K,1500+10*cengshu1+7,-(0.5*L1+A%cengshu1%+B%cengshu1%-0.5*C%cengshu1%),0,0.100*(2*cengshu1-1)+0.040
K,1500+10*cengshu1+8,-(0.5*L1+A%cengshu1%+B%cengshu1%-0.5*C%cengshu1%),0.5*L3,0.100*(2*cengshu1-1)+0.040

K,1600+10*cengshu1+7,-(0.5*L1+A%cengshu1%+B%cengshu1%-0.5*C%cengshu1%),1.0*L3,0.100*(2*cengshu1-1)+0.040
K,1600+10*cengshu1+8,-(0.5*L1+A%cengshu1%+B%cengshu1%-0.5*C%cengshu1%),1.5*L3,0.100*(2*cengshu1-1)+0.040

K,1700+10*cengshu1+7,-(0.5*L1+A%cengshu1%+B%cengshu1%-0.5*C%cengshu1%),2.0*L3,0.100*(2*cengshu1-1)+0.040
K,1700+10*cengshu1+8,-(0.5*L1+A%cengshu1%+B%cengshu1%-0.5*C%cengshu1%),2.5*L3,0.100*(2*cengshu1-1)+0.040

*DO,I,1500,1700,100
L,I+10*cengshu1+1,I+10*cengshu1+2
L,I+10*cengshu1+2,I+10*cengshu1+3
L,I+10*cengshu1+3,I+10*cengshu1+4
*ENDDO

L,1500+10*cengshu1+6,1500+10*cengshu1+7
L,1500+10*cengshu1+7,1500+10*cengshu1+8
L,1500+10*cengshu1+8,1600+10*cengshu1+7
L,1600+10*cengshu1+7,1600+10*cengshu1+8
L,1600+10*cengshu1+8,1700+10*cengshu1+7
L,1700+10*cengshu1+7,1700+10*cengshu1+8

allsle
lsel,s,loc,x,kx(1500+10*cengshu1+1),kx(1500+10*cengshu1+3)
lsel,r,loc,z,kz(1500+10*cengshu1+1)
cm,tuobi11,line

allsle
lsel,s,loc,x,kx(1500+10*cengshu1+3),kx(1500+10*cengshu1+4)
lsel,r,loc,z,kz(1500+10*cengshu1+1)
cm,tuobi12,line

allsle
lsel,s,loc,x,kx(1500+10*cengshu1+6)
lsel,r,loc,z,kz(1500+10*cengshu1+6)
cm,tuopan1,line

ALLSEL 
cmsel,S,tuobi11      !双槽钢单元
LATT,200*cengshu1+2,,200*cengshu1+2,,,,200*cengshu1+2
LESIZE,ALL,0.05,,,,,,,1 
LMESH,ALL 

ALLSEL 
cmsel,S,tuobi12      !单槽钢单元
LATT,200*cengshu1+3,,200*cengshu1+3,,,,200*cengshu1+3
LESIZE,ALL,0.05,,,,,,,1 
LMESH,ALL 

ALLSEL 
cmsel,S,tuopan1      !tuopan单元
LATT,200*cengshu1+4,,200*cengshu1+4,,,,200*cengshu1+4
LESIZE,ALL,0.05,,,,,,,1 
LMESH,ALL 



ALLSEL
NSEL,S,LOC,X,-(0.5*L1+A%cengshu1%+B%cengshu1%-0.5*C%cengshu1%)
NSEL,R,LOC,Z,0.100*(2*cengshu1-1),0.100*(2*cengshu1-1)+0.040 
CPCYC,UX,,,,,0.040
CPCYC,UY,,,,,0.040
CPCYC,UZ,,,,,0.040
CPCYC,ROTY,,,,,0.040
CPCYC,ROTZ,,,,,0.040


ALLSEL
NSEL,S,LOC,X,-(0.5*L1+A%cengshu1%+B%cengshu1%-0.5*C%cengshu1%)
NSEL,R,LOC,Z,0.100*(2*cengshu1-1),0.100*(2*cengshu1-1)
CM,LS19,NODE
!****************************************************************以上为后侧第9层

!***************************************************************以下为后侧第10层
*ELSEIF,cengshu1,EQ,10,THEN   
A%cengshu1%={{ '%.4f' | format(hou[10].a) }}                                                !10层托臂1长度
B%cengshu1%={{ '%.4f' | format(hou[10].b) }}                                                !10层托臂2长度
C%cengshu1%={{ '%.4f' | format(hou[10].c) }}                                                  !10层托盘宽度

ET,200*cengshu1+2,BEAM188   
KEYOPT,1,4,2
MP,EX,200*cengshu1+2,2.04E11 
MP,PRXY,200*cengshu1+2,0.3
MP,DENS,200*cengshu1+2,7850
SECTYPE,200*cengshu1+2,BEAM,MESH  
SECOFFSET,cent, 
SECREAD,'{{ hou[10].cantilever1_sect }}','SECT',,MESH                                    !10层托臂1截面

ET,200*cengshu1+3,BEAM188           
KEYOPT,1,4,2
MP,EX,200*cengshu1+3,2.04E11 
MP,PRXY,200*cengshu1+3,0.3
MP,DENS,200*cengshu1+3,7850
SECTYPE,200*cengshu1+3,BEAM,MESH 
SECOFFSET,cent, 
SECREAD,'{{ hou[10].cantilever2_sect }}','SECT',,MESH                                    !10层托臂2截面

ET,200*cengshu1+4,BEAM188          
KEYOPT,2,4,2
MP,EX,200*cengshu1+4,2.04E11       
MP,PRXY,200*cengshu1+4,0.3
MP,DENS,200*cengshu1+4,{{ '%.2f' | format(hou[10].density) }}                                       !10层托盘密度
SECTYPE,200*cengshu1+4,BEAM,MESH 
SECOFFSET,cent, 
SECREAD,'{{ hou[10].tray_sect }}','SECT',,MESH                                     !10层托盘截面

K,1500+10*cengshu1+1,-(0.5*L1),0,0.100*(2*cengshu1-1)                                               
K,1500+10*cengshu1+2,-(0.5*L1+A%cengshu1%+B%cengshu1%-0.5*C%cengshu1%),0,0.100*(2*cengshu1-1)       
K,1500+10*cengshu1+3,-(0.5*L1+A%cengshu1%),0,0.100*(2*cengshu1-1)                                   
K,1500+10*cengshu1+4,-(0.5*L1+A%cengshu1%+B%cengshu1%),0,0.100*(2*cengshu1-1)                       
 
K,1600+10*cengshu1+1,-(0.5*L1),L3,0.100*(2*cengshu1-1)                                           
K,1600+10*cengshu1+2,-(0.5*L1+A%cengshu1%+B%cengshu1%-0.5*C%cengshu1%),L3,0.100*(2*cengshu1-1)   
K,1600+10*cengshu1+3,-(0.5*L1+A%cengshu1%),L3,0.100*(2*cengshu1-1)                               
K,1600+10*cengshu1+4,-(0.5*L1+A%cengshu1%+B%cengshu1%),L3,0.100*(2*cengshu1-1)                   

K,1700+10*cengshu1+1,-(0.5*L1),2*L3,0.100*(2*cengshu1-1)                                    
K,1700+10*cengshu1+2,-(0.5*L1+A%cengshu1%+B%cengshu1%-0.5*C%cengshu1%),2*L3,0.100*(2*cengshu1-1)     
K,1700+10*cengshu1+3,-(0.5*L1+A%cengshu1%),2*L3,0.100*(2*cengshu1-1)                        
K,1700+10*cengshu1+4,-(0.5*L1+A%cengshu1%+B%cengshu1%),2*L3,0.100*(2*cengshu1-1)            

K,1500+10*cengshu1+6,-(0.5*L1+A%cengshu1%+B%cengshu1%-0.5*C%cengshu1%),-0.5*L3,0.100*(2*cengshu1-1)+0.040
K,1500+10*cengshu1+7,-(0.5*L1+A%cengshu1%+B%cengshu1%-0.5*C%cengshu1%),0,0.100*(2*cengshu1-1)+0.040
K,1500+10*cengshu1+8,-(0.5*L1+A%cengshu1%+B%cengshu1%-0.5*C%cengshu1%),0.5*L3,0.100*(2*cengshu1-1)+0.040

K,1600+10*cengshu1+7,-(0.5*L1+A%cengshu1%+B%cengshu1%-0.5*C%cengshu1%),1.0*L3,0.100*(2*cengshu1-1)+0.040
K,1600+10*cengshu1+8,-(0.5*L1+A%cengshu1%+B%cengshu1%-0.5*C%cengshu1%),1.5*L3,0.100*(2*cengshu1-1)+0.040

K,1700+10*cengshu1+7,-(0.5*L1+A%cengshu1%+B%cengshu1%-0.5*C%cengshu1%),2.0*L3,0.100*(2*cengshu1-1)+0.040
K,1700+10*cengshu1+8,-(0.5*L1+A%cengshu1%+B%cengshu1%-0.5*C%cengshu1%),2.5*L3,0.100*(2*cengshu1-1)+0.040

*DO,I,1500,1700,100
L,I+10*cengshu1+1,I+10*cengshu1+2
L,I+10*cengshu1+2,I+10*cengshu1+3
L,I+10*cengshu1+3,I+10*cengshu1+4
*ENDDO

L,1500+10*cengshu1+6,1500+10*cengshu1+7
L,1500+10*cengshu1+7,1500+10*cengshu1+8
L,1500+10*cengshu1+8,1600+10*cengshu1+7
L,1600+10*cengshu1+7,1600+10*cengshu1+8
L,1600+10*cengshu1+8,1700+10*cengshu1+7
L,1700+10*cengshu1+7,1700+10*cengshu1+8

allsle
lsel,s,loc,x,kx(1500+10*cengshu1+1),kx(1500+10*cengshu1+3)
lsel,r,loc,z,kz(1500+10*cengshu1+1)
cm,tuobi11,line

allsle
lsel,s,loc,x,kx(1500+10*cengshu1+3),kx(1500+10*cengshu1+4)
lsel,r,loc,z,kz(1500+10*cengshu1+1)
cm,tuobi12,line

allsle
lsel,s,loc,x,kx(1500+10*cengshu1+6)
lsel,r,loc,z,kz(1500+10*cengshu1+6)
cm,tuopan1,line

ALLSEL 
cmsel,S,tuobi11      !双槽钢单元
LATT,200*cengshu1+2,,200*cengshu1+2,,,,200*cengshu1+2
LESIZE,ALL,0.05,,,,,,,1 
LMESH,ALL 

ALLSEL 
cmsel,S,tuobi12      !单槽钢单元
LATT,200*cengshu1+3,,200*cengshu1+3,,,,200*cengshu1+3
LESIZE,ALL,0.05,,,,,,,1 
LMESH,ALL 

ALLSEL 
cmsel,S,tuopan1      !tuopan单元
LATT,200*cengshu1+4,,200*cengshu1+4,,,,200*cengshu1+4
LESIZE,ALL,0.05,,,,,,,1 
LMESH,ALL 



ALLSEL
NSEL,S,LOC,X,-(0.5*L1+A%cengshu1%+B%cengshu1%-0.5*C%cengshu1%)
NSEL,R,LOC,Z,0.100*(2*cengshu1-1),0.100*(2*cengshu1-1)+0.040 
CPCYC,UX,,,,,0.040
CPCYC,UY,,,,,0.040
CPCYC,UZ,,,,,0.040
CPCYC,ROTY,,,,,0.040
CPCYC,ROTZ,,,,,0.040


ALLSEL
NSEL,S,LOC,X,-(0.5*L1+A%cengshu1%+B%cengshu1%-0.5*C%cengshu1%)
NSEL,R,LOC,Z,0.100*(2*cengshu1-1),0.100*(2*cengshu1-1)
CM,LS20,NODE
!***************************************************************以上为后侧第10层

*ENDIF
*ENDDO

ALLSEL  
*DO,J,1,3
*DO,I,1,houcengshu
cp,next,all,node(0,0+L3*(J-1),0.1+0.2*(I-1)),node(L1/2,0+L3*(J-1),0.1+0.2*(I-1)),node(-L1/2,0+L3*(J-1),0.1+0.2*(I-1))
*ENDDO
*ENDDO

ALLSEL 
*DO,J,1,3
*DO,I,houcengshu+1,qiancengshu
cp,next,all,node(0,0+L3*(J-1),0.1+0.2*(I-1)),node(L1/2,0+L3*(J-1),0.1+0.2*(I-1))
*ENDDO
*ENDDO

ALLSEL
KSEL,S,LOC,Z,L2
NSLK,S,1
CM,YUESHU,NODE 


ALLSEL
NSEL,S,,,LS1
*DO,Z,2,qiancengshu,
NSEL,A,,,LS%Z%
*ENDDO
CM,LS100,NODE
ALLSEL


ALLSEL
NSEL,S,,,LS11
*DO,Z,2,houcengshu,
NSEL,A,,,LS%(Z+10)%
*ENDDO
CM,LS200,NODE
ALLSEL

ALLSEL
NSEL,S,,,LS100
NSEL,A,,,LS200
CM,LS,NODE


 
